<%- include('common/header.ejs') %>

    

    <div class="container-fluid p-0 bg_01 ">
        <div class="d-flex">
            <div class="">

                <%- include('common/sidebar.ejs') %>

<!--                 
                <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
              
                <script type="text/javascript" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script> -->
            </div>
            <div class="w-100   p-3">
                <div class=" rounded-3 border p-3  bggry ">

                    <div class="d-flex justify-content-between border-bottom pb-3">
                        <div class="">
                            <h3>Product</h3>
                            <div>Manage Product in Store</div>
                        </div>

                        <div><button class="btn border" data-bs-toggle="modal" data-bs-target="#addproduct">+ Add
                                Product</button></div>
                    </div>

                    <div class="py-3 d-flex justify-content-between">
                        <div>
                            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                                <li class="nav-item" role="presentation">
                                    <div class="nav-link active" id="pills-home-tab" data-bs-toggle="pill"
                                        data-bs-target="#pills-home" role="tab" aria-controls="pills-home"
                                        aria-selected="true">PC</div>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <div class="nav-link" id="pills-profile-tab" data-bs-toggle="pill"
                                        data-bs-target="#pills-profile" role="tab" aria-controls="pills-profile"
                                        aria-selected="false">Laptop</div>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <div class="nav-link" id="pills-contact-tab" data-bs-toggle="pill"
                                        data-bs-target="#pills-contact" role="tab" aria-controls="pills-contact"
                                        aria-selected="false">Controller</div>
                                </li>
                                <!-- Add three more tabs -->
                                <li class="nav-item" role="presentation">
                                    <div class="nav-link" id="pills-tab4" data-bs-toggle="pill" data-bs-target="#tab4"
                                        role="tab" aria-controls="tab4" aria-selected="false">Headphone</div>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <div class="nav-link" id="pills-tab5" data-bs-toggle="pill" data-bs-target="#tab5"
                                        role="tab" aria-controls="tab5" aria-selected="false">Keyboard</div>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <div class="nav-link" id="pills-tab6" data-bs-toggle="pill" data-bs-target="#tab6"
                                        role="tab" aria-controls="tab6" aria-selected="false">Mouse</div>
                                </li>
                            </ul>
                        </div>
                        <div id="search"><input type="text" aria-controls="DataTables_Table_0" placeholder="Search..." class="form-control " id="search-input"></div>
                    </div>
                    <div class="container-fluid p-0">

                        <div class="tab-content" id="pills-tabContent">
                            <div class="tab-pane fade show active" id="pills-home" role="tabpanel"
                                aria-labelledby="pills-home-tab">
                                <div class="table-responsive border rounded-3">
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th>S.No</th>
                                                <th>Product Id</th>
                                                <th>Product Image</th>
                                                <th>Product Name</th>
                                                <th>Product Category </th>
                                                <th> Product Discription</th>
                                                <th>Product Max Price </th>
                                                <th>Product Price</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <%for( let i=0; i< pro[0].pc.length; i++ ) { %>
                                                <tr>
                                                    <td>
                                                        <%=i+1%>
                                                    </td>
                                                    <td>
                                                        <%=pro[0].pc[i].product_id %>
                                                    </td>

                                                    <% var imgg=pro[0].pc[i].product_image.split(',') %>

                                                        <td>
                                                            <% imgg.forEach(element=> { %>
                                                                <img src="/static/images/category/product/<%=element %>"
                                                                    alt="" class="rounded-curcle pro_img">
                                                                <% }) %>

                                                        </td>
                                                        <td>
                                                            <%=pro[0].pc[i].product_name %>
                                                        </td>
                                                        <td>
                                                            <%=pro[0].pc[i].product_category %>
                                                        </td>
                                                        <td class="linclamp">
                                                            <%=pro[0].pc[i].product_dis %>
                                                        </td>
                                                        <td>
                                                            <%=pro[0].pc[i].product_price %>
                                                        </td>
                                                        <td>
                                                            <%=pro[0].pc[i].orignal_price %>
                                                        </td>

                                                        <td>
                                                            <div class="d-flex">
                                                            <span><i
                                                                    class="fa fa-solid fa-pen-to-square px-2" id="edit_but"></i></span>
                                                            <span><i class="fa fa-solid fa-eye px-2" id="show_but"></i></span>
                                                            <span><i class="fa fa-solid fa-trash px-2" id="delete_but"></i></span>
                                                        </div>
                                                        </td>
                                                </tr>
                                                <% } %>
                                        </tbody>
                                    </table>
                                </div>
                            </div>


                            <div class="tab-pane fade" id="pills-profile" role="tabpanel"
                                aria-labelledby="pills-profile-tab">
                                <div class="table-responsive border rounded-3">
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th>S.No</th>
                                                <th>Product Id</th>
                                                <th>Product Image</th>
                                                <th>Product Name</th>
                                                <th>Product Category </th>
                                                <th> Product Discription</th>
                                                <th>Product Max Price </th>
                                                <th>Product Price</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <%for( let i=0; i< pro[0].laptop.length; i++ ) { %>
                                                <tr>
                                                    <td>
                                                        <%=i+1%>
                                                    </td>
                                                    <td>
                                                        <%=pro[0].laptop[i].product_id %>
                                                    </td>
                                                    <% var imgg=pro[0].laptop[i].product_image.split(',') %>

                                                        <td>
                                                            <% imgg.forEach(element=> { %>
                                                                <img src="/static/images/category/product/<%=element %>"
                                                                    alt="" class="rounded-curcle pro_img">
                                                                <% }) %>

                                                        </td>
                                                        <td>
                                                            <%=pro[0].laptop[i].product_name %>
                                                        </td>
                                                        <td>
                                                            <%=pro[0].laptop[i].product_category %>
                                                        </td>
                                                        <td class="linclamp">
                                                            <%=pro[0].laptop[i].product_dis %>
                                                        </td>
                                                        <td>
                                                            <%=pro[0].laptop[i].product_price %>
                                                        </td>
                                                        <td>
                                                            <%=pro[0].laptop[i].orignal_price %>
                                                        </td>

                                                        <td>
                                                            <div class="d-flex">
                                                            <span><i
                                                                    class="fa fa-solid fa-pen-to-square px-2" id="edit_but"></i></span>
                                                            <span><i class="fa fa-solid fa-eye px-2" id="show_but"></i></span>
                                                            <span><i class="fa fa-solid fa-trash px-2" id="delete_but"></i></span>
                                                            </div>
                                                        </td>
                                                </tr>
                                                <% } %>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="pills-contact" role="tabpanel"
                                aria-labelledby="pills-contact-tab">
                                <div class="table-responsive border rounded-3">
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th>S.No</th>
                                                <th>Product Id</th>
                                                <th>Product Image</th>
                                                <th>Product Name</th>
                                                <th>Product Category </th>
                                                <th> Product Discription</th>
                                                <th>Product Max Price </th>
                                                <th>Product Price</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <%for( let i=0; i< pro[0].controller.length; i++ ) { %>
                                                <tr>
                                                    <td>
                                                        <%=i+1%>
                                                    </td>
                                                    <td>
                                                        <%=pro[0].controller[i].product_id %>
                                                    </td>
                                                    <% var imgg=pro[0].controller[i].product_image.split(',') %>

                                                    <td>
                                                        <% imgg.forEach(element=> { %>
                                                            <img src="/static/images/category/product/<%=element %>"
                                                                alt="" class="rounded-curcle pro_img">
                                                            <% }) %>

                                                    </td>
                                                    <td>
                                                        <%=pro[0].controller[i].product_name %>
                                                    </td>
                                                    <td>
                                                        <%=pro[0].controller[i].product_category %>
                                                    </td>
                                                    <td class="linclamp">
                                                        <%=pro[0].controller[i].product_dis %>
                                                    </td>
                                                    <td>
                                                        <%=pro[0].controller[i].product_price %>
                                                    </td>
                                                    <td>
                                                        <%=pro[0].controller[i].orignal_price %>
                                                    </td>

                                                    <td>
                                                        <div class="d-flex">
                                                        <span><i class="fa fa-solid fa-pen-to-square px-2" id="edit_but"></i></span>
                                                        <span><i class="fa fa-solid fa-eye px-2" id="show_but"></i></span>
                                                        <span><i class="fa fa-solid fa-trash px-2" id="delete_but"></i></span>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <% } %>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <!-- Add three more tab panes -->
                            <div class="tab-pane fade" id="tab4" role="tabpanel" aria-labelledby="pills-tab4">
                                <div class="table-responsive border rounded-3">
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th>S.No</th>
                                                <th>Product Id</th>
                                                <th>Product Image</th>
                                                <th>Product Name</th>
                                                <th>Product Category </th>
                                                <th> Product Discription</th>
                                                <th>Product Max Price </th>
                                                <th>Product Price</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <%for( let i=0; i< pro[0].headphone.length; i++ ) { %>
                                                <tr>
                                                    <td>
                                                        <%=i+1%>
                                                    </td>
                                                    <td>
                                                        <%=pro[0].headphone[i].product_id %>
                                                    </td>
                                                    <% var imgg=pro[0].headphone[i].product_image.split(',') %>

                                                    <td>
                                                        <% imgg.forEach(element=> { %>
                                                            <img src="/static/images/category/product/<%=element %>"
                                                                alt="" class="rounded-curcle pro_img">
                                                            <% }) %>

                                                    </td>
                                                    <td>
                                                        <%=pro[0].headphone[i].product_name %>
                                                    </td>
                                                    <td>
                                                        <%=pro[0].headphone[i].product_category %>
                                                    </td>
                                                    <td class="linclamp">
                                                        <%=pro[0].headphone[i].product_dis %>
                                                    </td>
                                                    <td>
                                                        <%=pro[0].headphone[i].product_price %>
                                                    </td>
                                                    <td>
                                                        <%=pro[0].headphone[i].orignal_price %>
                                                    </td>

                                                    <td>
                                                        <div class="d-flex">
                                                        <span><i class="fa fa-solid fa-pen-to-square px-2" id="edit_but"></i></span>
                                                        <span><i class="fa fa-solid fa-eye px-2" id="show_but"></i></span>
                                                        <span><i class="fa fa-solid fa-trash px-2" id="delete_but"></i></span>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <% } %>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="tab5" role="tabpanel" aria-labelledby="pills-tab5">
                                <div class="table-responsive border rounded-3">
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th>S.No</th>
                                                <th>Product Id</th>
                                                <th>Product Image</th>
                                                <th>Product Name</th>
                                                <th>Product Category </th>
                                                <th> Product Discription</th>
                                                <th>Product Max Price </th>
                                                <th>Product Price</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <%for( let i=0; i< pro[0].keyboard.length; i++ ) { %>
                                                <tr>
                                                    <td>
                                                        <%=i+1%>
                                                    </td>
                                                    <td>
                                                        <%=pro[0].keyboard[i].product_id %>
                                                    </td>
                                                    <% var imgg=pro[0].keyboard[i].product_image.split(',') %>

                                                    <td>
                                                        <% imgg.forEach(element=> { %>
                                                            <img src="/static/images/category/product/<%=element %>"
                                                                alt="" class="rounded-curcle pro_img">
                                                            <% }) %>

                                                    </td>
                                                    <td>
                                                        <%=pro[0].keyboard[i].product_name %>
                                                    </td>
                                                    <td>
                                                        <%=pro[0].keyboard[i].product_category %>
                                                    </td>
                                                    <td class="linclamp">
                                                        <%=pro[0].keyboard[i].product_dis %>
                                                    </td>
                                                    <td>
                                                        <%=pro[0].keyboard[i].product_price %>
                                                    </td>
                                                    <td>
                                                        <%=pro[0].keyboard[i].orignal_price %>
                                                    </td>

                                                    <td>
                                                        <div class="d-flex">
                                                        <span><i class="fa fa-solid fa-pen-to-square px-2" id="edit_but"></i></span>
                                                        <span><i class="fa fa-solid fa-eye px-2" id="show_but"></i></span>
                                                        <span><i class="fa fa-solid fa-trash px-2" id="delete_but"></i></span>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <% } %>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="tab6" role="tabpanel" aria-labelledby="pills-tab6">
                                <div class="table-responsive border rounded-3">
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th>S.No</th>
                                                <th>Product Id</th>
                                                <th>Product Image</th>
                                                <th>Product Name</th>
                                                <th>Product Category </th>
                                                <th> Product Discription</th>
                                                <th>Product Max Price </th>
                                                <th>Product Price</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <%for( let i=0; i< pro[0].mouse.length; i++ ) { %>
                                                <tr>
                                                    <td>
                                                        <%=i+1%>
                                                    </td>
                                                    <td>
                                                        <%=pro[0].mouse[i].product_id %>
                                                    </td>




                                                    <% var imgg=pro[0].mouse[i].product_image.split(',') %>

                                                        <td>
                                                            <% imgg.forEach(element=> { %>
                                                                <img src="/static/images/category/product/<%=element %>"
                                                                    alt="" class="pro_img">
                                                                <% }) %>

                                                        </td>



                                                        <td>
                                                            <%=pro[0].mouse[i].product_name %>
                                                        </td>
                                                        <td>
                                                            <%=pro[0].mouse[i].product_category %>
                                                        </td>
                                                        <td class="linclamp">
                                                            <%=pro[0].mouse[i].product_dis %>
                                                        </td>
                                                        <td>
                                                            <%=pro[0].mouse[i].product_price %>
                                                        </td>
                                                        <td>
                                                            <%=pro[0].mouse[i].orignal_price %>
                                                        </td>

                                                        <td>
                                                            <div class="d-flex">
                                                            <span><i
                                                                    class="fa fa-solid fa-pen-to-square px-2" id="edit_but"></i></span>
                                                            <span><i class="fa fa-solid fa-eye px-2" id="show_but"></i></span>
                                                            <span><i class="fa fa-solid fa-trash px-2" id="delete_but"></i></span>
                                                            </div>
                                                        </td>
                                                </tr>
                                                <% } %>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>













                    </div>


                </div>
            </div>
        </div>
    </div>




<!-- The Modal -->
<div class="modal" id="editModal">
    <div class="modal-dialog">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Edit Product</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
  
        <!-- Modal Body -->
        <div class="modal-body" id="modeledit">
      <div class="container-fluid">
        <div>
            <div>Carausal Image</div>
            <input type="text" name="" id="edit_id"  class="form-control product_id" disabled readonly >
        </div>
                        <div>
                            <div>Carausal fwaf</div>
                            <input type="text" name="product_image" id="" class="form-control product_image" required multiple>
                            <input type="file" name="product_image" id="product_image_edit" class="d-none form-control" required multiple>
                        </div>
                        <div>
                            <div>Carausal Title</div>
                            <input type="text" name="" class="form-control product_name" id="edit_name">
                        </div>
                        <div>
                            <div>Carausal Category</div>
                            <input name="" id="edit_category" class="form-control product_category" readonly disabled>
                       
                        </div>
                        <div>
                            <div>Carausal Discription</div>
                            <input type="text" name="" class="form-control product_dis" id="edit_dis">
                        </div>
                        <div>
                            <div>Product Link</div>
                            <input type="text" name="" id="edit_price" class="form-control product_price">
                        </div>
                        <div>
                            <div>Product Link</div>
                            <input type="text" name="" id="edit_price" class="form-control orignal_price">
                        </div>

                    </div>
        </div>
  
        <!-- Modal Footer -->
        <div class="modal-footer">
            <button type="button" class="btn btn-light" data-bs-dismiss="modal">Cancle</button>
            <button type="submit" id="edit_sbbtn" class="btn bg">Update Product</button>
        </div>
  
      </div>
    </div>
  </div>
  









    <div class="modal fade" id="addproduct" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Add Product</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div>
                            <div>Carausal Image</div>
                            <input type="hidden" name="" id="product_id">
                            <input type="file" name="product_image" id="product_image" class="form-control" required multiple>
                        </div>
                        <div>
                            <div>Carausal Title</div>
                            <input type="text" name="" class="form-control" id="product_name">
                        </div>
                        <div>
                            <div>Carausal Category</div>
                            <select name="" id="product_category" class="form-control">
                                <option value="">Select Category</option>
                                <%for( let i=0; i< category.length; i++ ) { %>
                                    <option value="<%=category[i].product_category %>">
                                        <%=category[i].product_category %>
                                    </option>
                                    <% } %>
                            </select>
                        </div>
                        <div>
                            <div>Carausal Discription</div>
                            <input type="text" name="" class="form-control" id="product_dis">
                        </div>
                        <div>
                            <div>Product Discount Price</div>
                            <input type="text" name="" id="product_price" class="form-control">
                        </div>
                        <div>
                            <div>Product Orignal Price</div>
                            <input type="text" name="" id="orignal_price" class="form-control">
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light" data-bs-dismiss="modal">Cancle</button>
                    <button type="submit" id="category_sbbtn" class="btn btn-secondary">Add Product</button>
                </div>
            </div>
        </div>
    </div>




  
    <div class="modal" id="viewmodel">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
      
            <!-- Modal Header -->
            <div class="modal-header">
              <h4 class="modal-title">Edit Product</h4>
              <button type="button" class="close" data-bs-dismiss="modal">&times;</button>
            </div>
      
            <!-- Modal Body -->
            <div class="modal-body" >
          <div class="container-fluid">


            <div class="row ">
                <div class="col-md-5 py-5 1">
                  <div id="carouselExampleSlidesOnly" class=" carousel-fade" data-bs-ride="carousel">
                    <div class="carousel-inner">
                      <div class="show_image">
                      </div>
          
          
                    </div>
                  </div>
                </div>
          
                <!-- product description -->
             
                
                <div class="col-md-7 text-light pt-5 ">
                  <h2 class="fw-bold fcolor lol show_name">
                   
                  </h2>
           
          
                  <i class=" l27 text-warning">BY ZORO.PC</i>
                  <h2 class="fw-bold show_price" >₹
                  </h2>
                  <p class="text-danger l26">(27% off )</p>
                  <p class="fw-bold l27">Save ₹1,708 <del class="orignal_price"> MSRP ₹6,299 </del>(Inc of all taxes)</p>
                  <!-- <img src="product/revv.png" alt=""  class="l29"> -->
                  <div class="p-0 show_dis">
                    <p>Product Model: 150-Matel-F490-BLACK <br><span>Availability: <i class="text-success">In Stock</i> </span>
                    </p>
                  </div>
          
                  <div class="my-5 l29">Credit Card EMI Plans start from ₹410 <a href=""
                      class="text-decoration-none text-success">
                      View More ></a></div>
          
                </div>
            
          
              </div>












            
          </div>
            <!-- Modal Footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
               
            </div>
      
          </div>
        </div>
      </div>

 
















