<%for(i=0;i<product.length;i++) {%>
<div><%= product[i].product_category %></div>
<div><%= product[i].product_quantity %></div>
<div><%= product[i].product_id %></div>
<div><%= product[i].cart_img %></div>
<div><%= product[i].cart_pname %></div>
<div><%= product[i].cart_pprice %></div>

    <%}%>