<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Zoro.to</title>
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet"href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">

</head>

<body>
  <!-- #########################################  navbar ############################################## -->

<%- include('common/header.ejs')  %>
  <!-- #########################################  carousel ############################################## -->



  <div id="carouselExampleCaptions" class="carousel slide  carousel-fade" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
        aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
        aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
        aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3"
        aria-label="Slide 4"></button>

    </div>
    <div class="carousel-inner ">
      <%for( let i=0; i < banner.length; i++ ) { %>
      <div class="carousel-item <%= i === 0 ? 'active' : '' %> " data-bs-interval="4000">
        <video autoplay loop muted  preload>
          <source src="/static/images/category/banner/<%= banner[i].main_banner %>">
        </video>
        <div class="carousel-caption d-none d-md-block mb-3 headcarousal ">
          <h1 class="fw-bold fcolor lala5"><%= banner[i].banner_title %></h1>
          <h6 class="my-2 lala55"><%= banner[i].banner_dis %></h6>
         
          <% if (banner[i].banner_link.trim() !== '') { %>
            <a href="<%= banner[i].banner_link %>" class="text-decoration-none text-light">
              <button class="btn btn-outline-warning my-4 lol lala5">SHOP NOW</button>
            </a>
          <% } %>
          
          
        </div>
      </div>
      <% } %>

    </div>

  </div>



  <!-- #########################################  item brif tab ############################################## -->
<!-- 
  <div class="container-fluid px-5 pt-3 my-5 pb-2">
    <div class="row  my-4">
      <span class="display-4 fw-bold fcolor tabss">EXPLORE PRODUCTS</span>
    </div>
    <div class="row" >
      <%for( let i=0; i < product.length; i++ ) { %>
      <div class="col-xl-2 col-lg-4 col-sm-6 my-3 lol l277 ">
        <a href="/<%= product[i].product_category.toLowerCase() %>" class="text-decoration-none text-light">
          <div class="card p-0 border border-dark">
            <img src="/static/images/category/pro_category/<%= product[i].product_image %>" class="card-img-top fit" alt="...">
            <div class="card-body text-center py-1 bg-black">
              <h5 class="card-text fcolor"><%= product[i].product_name %></h5>
            </div>
          </div>
        </a>
      </div>
      <% } %>


    </div>

  </div> -->




  <div class="container-fluid px-5 pt-3 my-5 pb-2 tabs">
    <div class="row  my-4">
      <span class="display-4 fw-bold fcolor animation_left">EXPLORE PRODUCTS</span>
    </div>
    <div class="row" >
      <div class="col-xl-2 col-lg-4 col-sm-6 my-3 lol  ">
        <a href="/pc" class="text-decoration-none text-light">
          <div class="card p-0 border border-dark animation_out">
            <img src="/static/images/category/pro_category/1701611869204_pc.jpg" class="card-img-top fit" alt="...">
            <div class="card-body text-center py-1 bg-black">
              <h5 class="card-text fcolor">PC</h5>
            </div>
          </div>
        </a>
      </div>


      <div class="col-xl-2 col-lg-4  col-sm-6 my-3 lol ">
        <a href="/laptop" class="text-decoration-none text-light">
          <div class="card p-0 border border-dark animation_out">
            <img src="/static/images/category/pro_category/1701596228694_lappy.jpg" class="card-img-top fit" alt="...">
            <div class="card-body text-center py-1 bg-black ">
              <h5 class="card-text fcolor">LAPTOP</h5>
            </div>
          </div>
        </a>
      </div>

      <div class="col-xl-2 col-lg-4 col-sm-6 my-3 lol ">
        <a href="/accessories" class="text-decoration-none text-light">
          <div class="card p-0 border border-dark animation_out">
            <img src="/static/images/category/pro_category/1701597462947_mouse1.jpg" class="card-img-top fit" alt="...">
            <div class="card-body text-center py-1 bg-black">
              <h5 class="card-text fcolor">MOUSE</h5>
            </div>
          </div>
        </a>
      </div>

      <div class="col-xl-2 col-lg-4 col-sm-6 my-3 lol ">
        <a href="/accessories" class="text-decoration-none text-light">
          <div class="card p-0 border border-dark animation_out">
            <img src="/static/images/category/pro_category/1701597507403_keyboard.jpg" class="card-img-top fit" alt="...">
            <div class="card-body text-center py-1 bg-black">
              <h5 class="card-text fcolor">KEYBOARD</h5>
            </div>
          </div>
        </a>
      </div>

      <div class="col-xl-2 col-lg-4 col-sm-6 my-3 lol ">
        <a href="/accessories" class="text-decoration-none text-light">
          <div class="card p-0 border border-dark animation_out">
            <img src="/static/images/category/pro_category/1701597616607_HEADPHONE.jpg" class="card-img-top fit" alt="...">
            <div class="card-body text-center py-1 bg-black">
              <h5 class="card-text fcolor">HEADPHONE</h5>
            </div>
          </div>
        </a>
      </div>

      <div class="col-xl-2 col-lg-4 col-sm-6 my-3 lol ">
        <a href="/controller" class="text-decoration-none text-light">
          <div class="card p-0 border border-dark animation_out">
            <img src="/static/images/category/pro_category/1701597648009_CONTRO.jpg" class="card-img-top fit" alt="...">
            <div class="card-body text-center py-1 bg-black">
              <h5 class="card-text fcolor">CONTROLLER</h5>
            </div>
          </div>
        </a>
      </div>

    </div>

  </div>













  <!-- #########################################  carausal 1 ############################################## -->
  <div class="container-fluid px-0 mx-0">
    <div class="row mx-0 px-0">
      <div class="col-12 mx-0 px-0">

        <div id="carouselExampleAutoplaying" class="carousel  carousel-fade" data-bs-ride="carousel">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide-to="0" class="active"
              aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide-to="1"
              aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide-to="2"
              aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide-to="3"
              aria-label="Slide 4"></button>
          </div>
          <div class="carousel-inner">
            <%for( let i=0; i < carausal.length; i++ ) { %>
            <div class="carousel-item <%= i === 0 ? 'active' : '' %> " data-bs-interval="3000">
              <img src="/static/images/category/carousel/<%= carausal[i].carausal_image %>" class="d-block w-100 rounded-1" alt="...">
              <div class="carousel-caption text-light">
                <table class="faltu text-center">
                  <tr>
                    <td class="align-top">
                      <h1 class="fcolor fw-bold lala5"><%= carausal[i].carausal_title %></h1>
                      <h6 class="lala55"><%= carausal[i].carausal_dis %></h6>
                      <a href="<%= carausal[i].carausal_link %>" class="text-decoration-none">
                        <h4 class="text-warning lol lala5">SHOP NOW ></h4>
                      </a>
                    </td>
                  </tr>
                </table>
              </div>
            </div>
            <%}%>

          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>


      </div>
    </div>
  </div>

  <!-- #########################################  gamebar ############################################## -->
  <div class="container-fluid ap">
    <div class="row">
      <div class="col-lg-6 col-sm-12 px-5 my-5 py-5  justify-content-middle order-lg-2 py-sm-0">
        <div class="p-4 "> <img src="/static/apex.png" alt=""></div>
        <div class="h2 fcolor fw-bold ">EXCLUSIVE GAME INTEGRATIONS</div>
        <div class=" text-light fw-light ">We partner with game studios to turn your entire gaming into a fully
          immersive experience, with our game drivers and optimize setting automatically synched to the in-game action.
        </div>
        <div class=""><i class="text-warning ">latest version required</i></div>
      </div>
      <div class="col-lg-6 col-sm-12 px-5  order-lg-1 ">
        <video src="/static/Apex Legends Imperial Guard Collection Event.mp4" autoplay controls muted
          class="w-100 my-5 rounded-3"></video>
      </div>
    </div>
  </div>


  <!-- #########################################  carausal 2 ############################################## -->



  <div class="container-fluid px-0 mx-0 mb-2">
    <div class="row mx-0 px-0">
      <div class="col-12 mx-0 px-0">
        <div id="carouselExampleDark" class="carousel carousel-dark carousel-fade" data-bs-ride="carousel">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleDark1" data-bs-slide-to="0" class="active"
              aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleDark1" data-bs-slide-to="1"
              aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleDark1" data-bs-slide-to="2"
              aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#carouselExampleDark1" data-bs-slide-to="3"
              aria-label="Slide 4"></button>
          </div>
          <div class="carousel-inner">
            <%for( let i=0; i < carausal2.length; i++ ) { %>
           
            <div class="carousel-item <%= i === 0 ? 'active' : '' %> " data-bs-interval="3000">
              <img src="/static/images/category/carousel/<%= carausal2[i].carausal_image %>" class="d-block w-100 rounded-1" alt="...">
              <div class="carousel-caption text-light">
                <table class="faltu text-center">
                  <tr>
                    <td class="align-top">
                      <h1 class="fcolor fw-bold lala5"><%= carausal2[i].carausal_title %></h1>
                      <h6 class="lala55"><%= carausal2[i].carausal_dis %></h6>
                      <a href="<%= carausal2[i].carausal_link %>" class="text-decoration-none">
                        <h4 class="text-warning lol lala5">SHOP NOW ></h4>
                      </a>
                    </td>
                  </tr>
                </table>
              </div>
            </div>
            <%}%>
   
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>


      </div>
    </div>
  </div>

  <!-- #########################################  6-2 cards ############################################## -->

  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6 col-12 py-3 lol ">
        <div class="card text-bg-dark">
          <img src="/static/images/category/pro_category/<%=product[5].sub_product_image %>" class="card-img" alt="...">
          <div class="card-img-overlay">
            <h5 class="card-title l266"> NEW CUSTOM CONTROLLER</h5>
            <span><a href="/<%=product[5].product_name %>" class="text-decoration-none">
                <h6 class="text-warning ">SHOP NOW ></h6>
              </a>
            </span>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-12 py-3 lol ">
        <div class="card text-bg-dark">
          <img src="/static/images/category/pro_category/<%=product[3].sub_product_image %>" class="card-img" alt="...">
          <div class="card-img-overlay">
            <h5 class="card-title ">RGB KEYBOARD</h5>
            <span><a href="/<%=product[3].product_name %>" class="text-decoration-none">
                <h6 class="text-warning ">SHOP NOW ></h6>
              </a> </span>
          </div>
        </div>
      </div>
    </div>
  </div>



  <!-- #########################################  4-3 cards ############################################## -->


  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-4 col-12 py-3 lol ">
        <div class="card text-bg-dark">
          <img src="/static/images/category/pro_category/<%=product[0].sub_product_image %>" class="card-img img-fluid" alt="...">
          <div class="card-img-overlay">
            <h5 class="card-title ">CUSTEM BUILT</h5>
            <span><a href="/<%=product[0].product_name %>" class="text-decoration-none">
                <h6 class="text-warning ">SHOP NOW ></h6>
              </a> </span>
          </div>
        </div>
      </div>

      <div class="col-sm-4 col-12 py-3 lol ">
        <div class="card text-bg-dark">
          <img src="/static/images/category/pro_category/<%=product[1].sub_product_image %>" class="card-img" alt="...">
          <div class="card-img-overlay">
            <h5 class="card-title "> GAMING MOUSE</h5>
            <span><a href="/<%=product[1].product_name %>" class="text-decoration-none">
                <h6 class="text-warning ">SHOP NOW ></h6>
              </a> </span>
          </div>
        </div>
      </div>

      <div class="col-sm-4 col-12 py-3 lol ">
        <div class="card text-bg-dark">
          <img src="/static/images/category/pro_category/<%=product[2].sub_product_image %>" class="card-img" alt="...">
          <div class="card-img-overlay">
            <h5 class="card-title ">GAMING LAPTOP</h5>
            <span><a href="/<%=product[2].product_name %>" class="text-decoration-none">
                <h6 class="text-warning ">SHOP NOW ></h6>
              </a> </span>
          </div>
        </div>
      </div>

    </div>
  </div>

  <!-- #########################################  service parks ############################################## -->

  <div class="container-fluid text-center my-5 py-5">
    <div class="row text-light">
      <div class="col-lg-4 col-sm-12 my-auto ">
        <h3 class="fw-bold fcolor"> WHY BUY DIRECT FROM ZORO?</h3>
        <a href="awards.html" class="text-decoration-none">
          <h6 class="text-warning lol pb-3">LEARN MORE ></h6>
        </a>
      </div>

      <div class="col-lg-2 col-sm-3 my-auto lol "><a href="awards.html" class="text-decoration-none text-light">
          <img src="/static/images/icon/pro.png" alt="" class="img-fluid w-50">
          <h6 class="mt-3">LARGEST SELECTION OF
            PRODUCTS</h6>
        </a>
      </div>

      <div class="col-lg-2  col-sm-3 my-auto lol "><a href="service.html" class="text-decoration-none text-light">
          <img src="/static/images/icon/sep.png" alt="" class="img-fluid w-50">
          <h6 class="mt-3">SHIPS FREE NEXT
            BUSINESS DAY*</h6>
        </a>
      </div>

      <div class="col-lg-2  col-sm-3 my-auto lol "><a href="service.html" class="text-decoration-none text-light">
          <img src="/static/images/icon/re.png" alt="" class="img-fluid w-50">
          <h6 class="mt-3">60-DAYS
            RISK FREE
            RETURNS</h6>
        </a>
      </div>

      <div class="col-lg-2  col-sm-3 my-auto  lol "><a href="service.html" class="text-decoration-none text-light">
          <img src="/static/images/icon/sepo.png" alt="" class="img-fluid w-50">
          <h6 class="mt-3">LIVE CHAT
            WITH PRODUCT
            SPECIALISTS</h6>
        </a>
      </div>

    </div>
  </div>


  <!-- #########################################  footer banner ############################################## -->



  <div class="container-fluid px-0 rounded-3 text-center ">
    <a href="pc.html" class="text-decoration-none text-light">
      <div class="card col-12 text-bg-dark ">
        <img src="/static/images/category/banner/bse.jpg" alt="" class="img-fluid">
        <div class="card-img-overlay m-3 m-sm-0 ">
          <h3 class="fcolor fw-bold ">YOUR DREAM SETUP START HERE</h3>
          <h6 class="fw-light ">CREATE THE ULTIMATE SETUP WITH BEST GEAR BUILT</h6>
          <a href="accessories.html" class="text-decoration-none text-light">
            <button class="btn btn-outline-warning my-1 lol text-light ">SHOP NOW </button></a>
        </div>
      </div>
    </a>
  </div>

  <!-- #########################################  award ############################################## -->
  <div class="container d-sm-flex justify-content-center text-light my-5 py-1">
    <div class="col-lg-3 col-sm-4  rounded text-center m-3 lala14">
      <div class="card bg-black lol ">
        <div class="card-body "><a href="awards.html" class="text-decoration-none text-light">
            <img src="/static/images/icon/aw.png" alt="">
            <div class="card-head h4 fw-bold fcolor">Awards</div>
            <p class="card-text pb-4">Discover Zoro’s Award Excellence. </p>
          </a>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-sm-4  rounded text-center m-3 ">
      <div class="card  bg-black lol ">
        <div class="card-body"><a href="service.html" class="text-decoration-none text-light">
            <img src="/static/images/icon/service.png" alt="">
            <div class="card-head h4 fw-bold  fcolor">SERVICE / SUPPORT</div>
            <p class="card-text fw-light">Find the FAQ, Customer Service and More. </p>
          </a>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-sm-4  rounded text-center m-3 lala13">
      <div class="card  bg-black lol ">
        <div class="card-body"><a href="https://www.youtube.com" class="text-decoration-none text-light">
            <img src="/static/images/icon/video.png" alt="">
            <div class="card-head h4 fw-bold  fcolor">TECH VIDEOS</div>
            <p class="card-text pb-4">Visit Zoro’s YouTube Channel. </p>
          </a>
        </div>
      </div>
    </div>
  </div>

  <!-- #########################################  FOOTER ############################################## -->








<%- include('common/footer.ejs')  %>

</body>

</html>