
<%- include('common/header.ejs') %>     


<div id="carouselExampleSlidesOnly" class="carousel-fade" data-bs-ride="carousel">
    <div class="carousel-inner">
      <%for( let i=0; i< banner.length; i++ ) { %>
      <div class="carousel-item <%= i === 0 ?  'active' : ' ' %>" data-bs-interval="2000">
        <img src="/static/images/category/productbanner/<%=banner[i].product_banner %>" class="d-block w-100" alt="...">
      </div>
      <%}%>
     
    </div>
  </div>


  <!-- multicarousel -->

  <div class="container text-center my-5">
    <h1 class="fw-bold fcolor py-4 lulu 1">HOT PRODUCTS</h1>
    <div class="row mx-auto my-auto justify-content-center 2">
      <div id="recipeCarousel" class="carousel slide ala " data-bs-ride="carousel">
        <div class="carousel-inner" role="listbox">
          <%for( let i=0; i< laptop.length; i++ ) { %>
          <div class="carousel-item <%= i === 0 ?  'active' : ' ' %> alla" data-bs-interval="2000">
            <div class="col-md-3  lol">
              <a href="/product/<%= laptop[i].product_category %>/<%= laptop[i].product_id %>" class="text-decoration-none text-light">
                <div class="card bg-transparent border border-0">
                  <div class="card-img">
                    <% var imgg=laptop[i].product_image.split(',') %>
                        
                            <img src="/static/images/category/product/<%=imgg[0].trim() %>"
                                alt="" class="img-fluid ">
                           
                  </div>
                  <div class="card-body text-light">
                    <h5><%=laptop[i].product_name %></h5>
                    <span class="text-light star fs-4"></span>
                    <P class="fw-bold"> ₹<%=laptop[i].product_price %> <del class="text-body">₹<%=laptop[i].orignal_price %></del></p>
                  </div>
                </div>
              </a>
            </div>
          </div>
          <%}%>


        </div>
        <a class="carousel-control-prev bg-transparent w-aut" href="#recipeCarousel" role="button" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        </a>
        <a class="carousel-control-next bg-transparent w-aut" href="#recipeCarousel" role="button" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
        </a>
      </div>
    </div>

  </div>

  <!--left list   -->
  <div class="container">
    <div class="row justify-content-evenly">
      <div class="col-lg-3 border border-success  rounded-2 bg-black ">
        <button class="btn  accordion-toggle lol" type="button" data-bs-toggle="collapse" data-bs-target="#acco"
          aria-controls="acco" aria-expanded="true" aria-label="Toggle-navigation">
          <h2 class="  ps-3  fw-bold fcolor pt-2 ">FILTER <img src="/static/down.png" alt=""></h6>
        </button>
        <div class="collapse accordion-collapse show" id="acco">
          <div class="card bg-black text-light py-0 ">
            <a class="text-decoration-none border-0" data-bs-toggle="collapse" href="#collapseOne">
            <div class="card-header border border-success rounded-2 form-select">
                <h6 class="fw-bold my-0 fcolor lol px-3">Keywords</h6>
              </div>
            </a>
            <div id="collapseOne" class="collapse show" data-bs-parent="#accordion">
              <div class="card-body">
                <input type="search" class="bg-dark w-100 text-light rounded-2 out searchInput">
              </div>
            </div>
          </div>
          <div class="card bg-black text-light py-0">
            <a class="collapsed text-decoration-none  py-0" data-bs-toggle="collapse" href="#collapseTwo">
            <div class="card-header border border-success rounded-2 form-select">
                <h6 class="fw-bold px-4  fcolor lol "> Brands</h6>
              </div>
            </a>
            <div id="collapseTwo" class="collapse show" data-bs-parent="#accordion">
              <div class="card-body px-3 py-0">
                <div class=" border-2 border-bottom  text-left">
                  <input type="checkbox" class="me-2"><label class=" h6">RAZER</label>
                </div>
              </div>

              <div class="card-body px-3 py-0">
                <div class=" border-2 border-bottom text-left">
                  <input type="checkbox" class="me-2"><label class=" h6">CORSAIR</label>
                </div>
              </div>

              <div class="card-body px-3 py-0">
                <div class=" border-2 border-bottom text-left">
                  <input type="checkbox" class="me-2"><label class=" h6">HYPER X</label>
                </div>
              </div>

              <div class="card-body px-3 py-0">
                <div class=" border-2 border-bottom text-left">
                  <input type="checkbox" class="me-2"><label class="h6">STEELSERIES</label>
                </div>
              </div>

              <div class="card-body px-3 py-0">
                <div class=" border-2 border-bottom text-left">
                  <input type="checkbox" class="me-2"><label class=" h6">RYZEN</label>
                </div>
              </div>

              <div class="card-body px-3 py-0">
                <div class=" border-2 border-bottom text-left">
                  <input type="checkbox" class="me-2"><label class=" h6">DELL</label>
                </div>
              </div>

              <div class="card-body px-3 py-0">
                <div class=" border-2 border-bottom text-left">
                  <input type="checkbox" class="me-2"><label class="h6">INTEL</label>
                </div>
              </div>

              <div class="card-body px-3 py-0 pb-4">
                <div class=" border-2 border-bottom text-left">
                  <input type="checkbox" class="me-2"><label class=" h6">LOGITECH</label>
                </div>
              </div>


            </div>
          </div>
          <div class="card bg-black text-light py-0">
            <a class="collapsed text-decoration-none " data-bs-toggle="collapse" href="#collapseThree">
            <div class="card-header  border border-success rounded-2  form-select">
                <h6 class="fw-bold px-3 fcolor lol">PRICE</h6>

              </div>
            </a>
            <div id="collapseThree" class="collapse" data-bs-parent="#accordion">
              <div class="card-body px-3 py-0 my-4">
                <div class="py-1 text-left">
                  <label class=" h6">10K TO 100K</label><br>
                  <input type="range" class="me-5 w-100">
                </div>
              </div>

            </div>
          </div>
          <div class="card bg-black text-light py-0">
            <a class="collapsed text-decoration-none" data-bs-toggle="collapse" href="#collapsethree">
            <div class="card-header  border border-success rounded-2  form-select">
                <h6 class="fw-bold px-3 fcolor lol"> EDITION</h6>

              </div>
            </a>
            <div id="collapsethree" class="collapse show" data-bs-parent="#accordion">
              <div class="card-body px-3 py-0">
                <div class=" border-2 border-bottom py-1 text-left">
                  <input type="checkbox" class="me-2"><label class=" h6">420</label>
                </div>
              </div>

              <div class="card-body px-3 py-0">
                <div class=" border-2 border-bottom py-1 text-left">
                  <input type="checkbox" class="me-2"><label class=" h6">3D</label>
                </div>
              </div>

              <div class="card-body px-3 py-0">
                <div class=" border-2 border-bottom py-1 text-left">
                  <input type="checkbox" class="me-2"><label class=" h6">Printed</label>
                </div>
              </div>

              <div class="card-body px-3 py-0 mb-4">
                <div class=" border-2 border-bottom py-1 text-left">
                  <input type="checkbox" class="me-2"><label class=" h6">Biohazard</label>
                </div>
              </div>

            </div>
          </div>

          <div class="card bg-black text-light py-0">
            <a class="collapsed text-decoration-none" data-bs-toggle="collapse" href="#collapse4">
            <div class="card-header  border border-success rounded-2 form-select">
                <h6 class="fw-bold px-3 fcolor lol"> COLOUR</h6>

              </div>
            </a>
            <div id="collapse4" class="collapse" data-bs-parent="#accordion">
              <div class="card-body px-3 py-0">
                <div class=" border-2 border-bottom py-1 text-left">
                  <input type="checkbox" class="me-2"><label class=" h6">Red</label>
                </div>
              </div>

              <div class="card-body px-3 py-0">
                <div class=" border-2 border-bottom py-1 text-left">
                  <input type="checkbox" class="me-2"><label class=" h6">Blue</label>
                </div>
              </div>

              <div class="card-body px-3 py-0">
                <div class=" border-2 border-bottom py-1 text-left">
                  <input type="checkbox" class="me-2"><label class=" h6">Green</label>
                </div>
              </div>

              <div class="card-body px-3 py-0">
                <div class=" border-2 border-bottom py-1 text-left">
                  <input type="checkbox" class="me-2"><label class=" h6">Black</label>
                </div>
              </div>

              <div class="card-body px-3 py-0">
                <div class=" border-2 border-bottom py-1 text-left">
                  <input type="checkbox" class="me-2"><label class=" h6">Purple</label>
                </div>
              </div>

              <div class="card-body px-3 py-0 mb-4">
                <div class=" border-2 border-bottom py-1 text-left">
                  <input type="checkbox" class="me-2"><label class=" h6">Silver</label>
                </div>
              </div>
            </div>
          </div>


          <div class="card bg-black text-light py-0">
            <a class="collapsed text-decoration-none" data-bs-toggle="collapse" href="#collapse1">
            <div class="card-header  border border-success rounded-2 form-select">
                <h6 class="fw-bold px-3 fcolor lol"> STYLING</h6>

              </div>
            </a>
            <div id="collapse1" class="collapse show" data-bs-parent="#accordion">
              <div class="card-body px-3 py-0">
                <div class=" border-2 border-bottom py-1 text-left">
                  <input type="checkbox" class="me-2"><label class=" h6">ATX</label>
                </div>
              </div>

              <div class="card-body px-3 py-0">
                <div class=" border-2 border-bottom py-1 text-left">
                  <input type="checkbox" class="me-2"><label class=" h6">E-ATX</label>
                </div>
              </div>

              <div class="card-body px-3 py-0">
                <div class=" border-2 border-bottom py-1 text-left">
                  <input type="checkbox" class="me-2"><label class=" h6">M-ATX</label>
                </div>
              </div>

              <div class="card-body px-3 py-0">
                <div class=" border-2 border-bottom py-1 text-left">
                  <input type="checkbox" class="me-2"><label class=" h6">M-DTX</label>
                </div>
              </div>

              <div class="card-body px-3 py-0">
                <div class=" border-2 border-bottom py-1 text-left">
                  <input type="checkbox" class="me-2"><label class=" h6">M-ITX</label>
                </div>
              </div>

              <div class="card-body px-3 py-0 mb-4">
                <div class=" border-2 border-bottom py-1 text-left">
                  <input type="checkbox" class="me-2"><label class=" h6">MICRO-ATX</label>
                </div>
              </div>
            </div>
          </div>
          <div class="card bg-black text-light py-0 mb-2">
            <a class="collapsed text-decoration-none" data-bs-toggle="collapse" href="#collapse2">
            <div class="card-header  border border-success rounded-2 form-select">
                <h6 class="fw-bold px-3 fcolor lol"> MEMORY TYPE</h6>

              </div>
            </a>
            <div id="collapse2" class="collapse " data-bs-parent="#accordion">
              <div class="card-body px-3 py-0">
                <div class=" border-2 border-bottom py-1 text-left">
                  <input type="checkbox" class="me-2"><label class=" h6">64-BIT</label>
                </div>
              </div>

              <div class="card-body px-3 py-0">
                <div class=" border-2 border-bottom py-1 text-left">
                  <input type="checkbox" class="me-2"><label class=" h6">128-BIT</label>
                </div>
              </div>

              <div class="card-body px-3 py-0">
                <div class=" border-2 border-bottom py-1 text-left">
                  <input type="checkbox" class="me-2"><label class=" h6">192-BIT</label>
                </div>
              </div>

              <div class="card-body px-3 py-0">
                <div class=" border-2 border-bottom py-1 text-left">
                  <input type="checkbox" class="me-2"><label class=" h6">256-BIT</label>
                </div>
              </div>

              <div class="card-body px-3 py-0">
                <div class=" border-2 border-bottom py-1 text-left">
                  <input type="checkbox" class="me-2"><label class=" h6">320-BIT</label>
                </div>
              </div>

              <div class="card-body px-3 py-0 mb-4">
                <div class=" border-2 border-bottom py-1 text-left">
                  <input type="checkbox" class="me-2"><label class=" h6">364-BIT</label>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>

      <!-- right side -->
      <div class="col-lg-8 border border-success rounded-2 bg-black mb-2 l32">
        <div class="row p-4 text-end">
          <div class="col-12">

            Sort By
            <select name="country" id="" class="bg-black fcolor ps-2 out">
              <option value="location">Name (A-Z)</option>
              <option value="location">Name (Z-A)</option>
              <option value="location">Price(High-To-Low)</option>
              <option value="location">Price(Low-To-High)</option>
              <option value="location">Rating(High-To-Low)</option>
              <option value="location">Rating(Low-To-High)</option>
              <option value="location"></option>
            </select>
          </div>
        </div>

        <div class="row text-center" id="productContainer">
          <% for (let i = 0; i < laptop.length; i++) { %>
            <div class="card col-lg-4 col-md-6 bg-transparent border-0 pcard">
                <a href="/product/<%= laptop[i].product_category %>/<%= laptop[i].product_id %>" class="text-decoration-none text-light">
                <div id="carouselExampleSlidesOnly<%= i %>" class="carousel-fade" data-bs-ride="carousel">
                  <div class="carousel-inner">
                    <% var imgg = laptop[i].product_image.split(',') %>
                    <% imgg.forEach((element, index) => { %>
                      <div class="carousel-item <%= index === 0 ? 'active' : '' %>" data-bs-interval="2000">
                        <img src="/static/images/category/product/<%= element %>" class="d-block img-fluid" alt="...">
                      </div>
                    <% }) %>
                  </div>
                </div>
                <div class="card-body">
                  <p class="card-text"><%= laptop[i].product_name %></p>
                  <p class="card-text bg-transparent">  <span class="text-light star fs-4"></span></p>
                  <p class="card-text fw-bold fcolor">₹<%= laptop[i].product_price %> </p><del>₹<%= laptop[i].orignal_price %></del>
                </div>
              </a>
              </div>
          <% } %>
          

          <!-- <ul class="pagination justify-content-center mt-5 ">
            <li class="page-item"><a class="page-link bcolor text-dark" href="#">Previous</a></li>
            <li class="page-item"><a class="page-link bcolor text-dark" href="#">1</a></li>
            <li class="page-item"><a class="page-link bcolor text-dark" href="#">2</a></li>
            <li class="page-item"><a class="page-link bcolor text-dark" href="#">3</a></li>
            <li class="page-item"><a class="page-link bcolor text-dark" href="#">Next</a></li>
          </ul> -->

        </div>
      </div>
    </div>
  </div>
  <!-- bottom carousel -->
  <div class="container text-center my-5">
    <h1 class="fw-bold fcolor py-4 l25">RELATED PRODUCTS</h1>
    <div class="row ">
      <div id="recipeCarousel3" class="carousel slide ala" data-bs-ride="carousel">
        <div class="carousel-inner" role="listbox">
        
            <%for( let i=0; i< laptop.length; i++ ) { %>
              <div class="carousel-item <%= i === 0 ?  'active' : ' ' %> alla" data-bs-interval="2000">
                <div class="col-md-3  lol">
                  <a href="/product/<%= laptop[i].product_category %>/<%= laptop[i].product_id %>" class="text-decoration-none text-light">
                    <div class="card bg-transparent border border-0">
                      <div class="card-img">
                        <% var imgg=laptop[i].product_image.split(',') %>
                            
                                <img src="/static/images/category/product/<%=imgg[0].trim() %>"
                                    alt="" class="img-fluid ">
                               
                      </div>
                      <div class="card-body text-light">
                        <h5><%=laptop[i].product_name %></h5>
                        <span class="text-light star fs-4"></span>
                        <P class="fw-bold"> ₹<%=laptop[i].product_price %> <del class="text-body">₹<%=laptop[i].orignal_price %></del></p>
                      </div>
                    </div>
                  </a>
                </div>
              </div>
              <%}%>
         

        </div>
        <a class="carousel-control-prev bg-transparent w-aut" href="#recipeCarousel3" role="button"
          data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        </a>
        <a class="carousel-control-next bg-transparent w-aut" href="#recipeCarousel3" role="button"
          data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
        </a>
      </div>
    </div>
  </div>





  <script src="/static/js/card_search.js"></script>





















        
<script>let items = document.querySelectorAll('.ala .alla')

  items.forEach((el) => {
    const minPerSlide = 4
    let next = el.nextElementSibling
    for (var i = 1; i < minPerSlide; i++) {
      if (!next) {
        // wrap carousel by using first child
        next = items[0]
      }
      let cloneChild = next.cloneNode(true)
      el.appendChild(cloneChild.children[0])
      next = next.nextElementSibling
    }
  })</script>