
<%- include('common/header.ejs') %>     


<div id="carouselExampleSlidesOnly" class="carousel-fade" data-bs-ride="carousel">
    <div class="carousel-inner">
      <%for( let i=0; i< banner.length; i++ ) { %>
      <div class="carousel-item <%= i === 0 ?  'active' : ' ' %>" data-bs-interval="2000">
        <img src="/static/images/category/productbanner/<%=banner[i].product_banner %>" class="d-block w-100" alt="...">
      </div>
      <%}%>
     
    </div>
  </div>


  <!-- multicarousel -->

  <div class="container text-center my-5">
    <h1 class="fw-bold fcolor py-4 lulu 1">HOT PRODUCTS</h1>
    <div class="row mx-auto my-auto justify-content-center 2">
      <div id="recipeCarousel" class="carousel slide ala " data-bs-ride="carousel">
        <div class="carousel-inner" role="listbox">
          <%for( let i=0; i< pc.length; i++ ) { %>
          <div class="carousel-item <%= i === 0 ?  'active' : ' ' %> alla" data-bs-interval="2000">
            <div class="col-md-3  lol">
              <a href="product.html" class="text-decoration-none text-light">
                <div class="card bg-transparent border border-0">
                  <div class="card-img">
                    <% var imgg=pc[i].product_image.split(',') %>
                        
                            <img src="/static/images/category/product/<%=imgg[0].trim() %>"
                                alt="" class="img-fluid ">
                           
                  </div>
                  <div class="card-body text-light">
                    <h5><%=pc[i].product_name %></h5>
                    <img src="product/revv.png" alt="">
                    <P class="fw-bold"> ₹<%=pc[i].product_price %> <del class="text-body">₹<%=pc[i].orignal_price %></del></p>
                  </div>
                </div>
              </a>
            </div>
          </div>
          <%}%>


        </div>
        <a class="carousel-control-prev bg-transparent w-aut" href="#recipeCarousel" role="button" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        </a>
        <a class="carousel-control-next bg-transparent w-aut" href="#recipeCarousel" role="button" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
        </a>
      </div>
    </div>

  </div>

  <!--left list   -->
  <div class="container">
    <div class="row">
      <div class="col-lg-3 border border-success rounded-2 bg-black me-2 mb-2 l31">
        <button class="btn  accordion-toggle lol" type="button" data-bs-toggle="collapse" data-bs-target="#acco"
          aria-controls="acco" aria-expanded="true" aria-label="Toggle-navigation">
          <h2 class="py-3 fw-bold fcolor ">FILTER <img src="image/down.png" alt=""></h6>
        </button>

        <div class="collapse accordion-collapse show" id="acco">
          <div class="card bg-black text-light py-0">
            <div class="card-header border border-success rounded-2">
              <a class="btn" data-bs-toggle="collapse" href="#collapseOne">
                <h6 class="fw-bold my-0 fcolor lol">Keywords</h6>
              </a>
            </div>
            <div id="collapseOne" class="collapse show" data-bs-parent="#accordion">
              <div class="card-body">
                <input type="search" class="bg-dark w-100 text-light rounded-2 out">
              </div>
            </div>
          </div>
          <div class="card bg-black text-light py-0">
            <div class="card-header border border-success rounded-2">
              <a class="collapsed btn py-0" data-bs-toggle="collapse" href="#collapseTwo">
                <h6 class="fw-bold  fcolor lol"> Manufacturers</h6>
              </a>
            </div>
            <div id="collapseTwo" class="collapse show" data-bs-parent="#accordion">
              <div class="card-body px-3 py-0">
                <div class=" border-2 border-bottom  text-left">
                  <input type="checkbox" class="me-2"><label class=" h6">RAZER</label>
                </div>
              </div>

              <div class="card-body px-3 py-0">
                <div class=" border-2 border-bottom text-left">
                  <input type="checkbox" class="me-2"><label class=" h6">CORSAIR</label>
                </div>
              </div>

              <div class="card-body px-3 py-0">
                <div class=" border-2 border-bottom text-left">
                  <input type="checkbox" class="me-2"><label class=" h6">HYPER X</label>
                </div>
              </div>

              <div class="card-body px-3 py-0">
                <div class=" border-2 border-bottom text-left">
                  <input type="checkbox" class="me-2"><label class="h6">STEELSERIES</label>
                </div>
              </div>

              <div class="card-body px-3 py-0">
                <div class=" border-2 border-bottom text-left">
                  <input type="checkbox" class="me-2"><label class=" h6">RYZEN</label>
                </div>
              </div>

              <div class="card-body px-3 py-0">
                <div class=" border-2 border-bottom text-left">
                  <input type="checkbox" class="me-2"><label class=" h6">DELL</label>
                </div>
              </div>

              <div class="card-body px-3 py-0">
                <div class=" border-2 border-bottom text-left">
                  <input type="checkbox" class="me-2"><label class="h6">INTEL</label>
                </div>
              </div>

              <div class="card-body px-3 py-0 pb-4">
                <div class=" border-2 border-bottom text-left">
                  <input type="checkbox" class="me-2"><label class=" h6">LOGITECH</label>
                </div>
              </div>


            </div>
          </div>
          <div class="card bg-black text-light py-0">
            <div class="card-header  border border-success rounded-2 py-0">
              <a class="collapsed btn " data-bs-toggle="collapse" href="#collapseThree">
                <h6 class="fw-bold  fcolor lol">PRICE</h6>

              </a>
            </div>
            <div id="collapseThree" class="collapse" data-bs-parent="#accordion">
              <div class="card-body px-3 py-0 my-4">
                <div class="py-1 text-left">
                  <label class=" h6">10K TO 100K</label><br>
                  <input type="range" class="me-5 w-100">
                </div>
              </div>

            </div>
          </div>
          <div class="card bg-black text-light py-0">
            <div class="card-header  border border-success rounded-2 py-0">
              <a class="collapsed btn" data-bs-toggle="collapse" href="#collapsethree">
                <h6 class="fw-bold  fcolor lol"> CABINET SIZE</h6>

              </a>
            </div>
            <div id="collapsethree" class="collapse show" data-bs-parent="#accordion">
              <div class="card-body px-3 py-0">
                <div class=" border-2 border-bottom py-1 text-left">
                  <input type="checkbox" class="me-2"><label class=" h6">FULL TOWER</label>
                </div>
              </div>

              <div class="card-body px-3 py-0">
                <div class=" border-2 border-bottom py-1 text-left">
                  <input type="checkbox" class="me-2"><label class=" h6">MID-TOWER</label>
                </div>
              </div>

              <div class="card-body px-3 py-0">
                <div class=" border-2 border-bottom py-1 text-left">
                  <input type="checkbox" class="me-2"><label class=" h6">MINI-TOWER</label>
                </div>
              </div>

              <div class="card-body px-3 py-0 mb-4">
                <div class=" border-2 border-bottom py-1 text-left">
                  <input type="checkbox" class="me-2"><label class=" h6">CUSTEM SIZE</label>
                </div>
              </div>

            </div>
          </div>

          <div class="card bg-black text-light py-0">
            <div class="card-header  border border-success rounded-2 py-0">
              <a class="collapsed btn" data-bs-toggle="collapse" href="#collapse4">
                <h6 class="fw-bold  fcolor lol"> MOTHERBOARD</h6>

              </a>
            </div>
            <div id="collapse4" class="collapse" data-bs-parent="#accordion">
              <div class="card-body px-3 py-0">
                <div class=" border-2 border-bottom py-1 text-left">
                  <input type="checkbox" class="me-2"><label class=" h6">ATX</label>
                </div>
              </div>

              <div class="card-body px-3 py-0">
                <div class=" border-2 border-bottom py-1 text-left">
                  <input type="checkbox" class="me-2"><label class=" h6">E-ATX</label>
                </div>
              </div>

              <div class="card-body px-3 py-0">
                <div class=" border-2 border-bottom py-1 text-left">
                  <input type="checkbox" class="me-2"><label class=" h6">M-ATX</label>
                </div>
              </div>

              <div class="card-body px-3 py-0">
                <div class=" border-2 border-bottom py-1 text-left">
                  <input type="checkbox" class="me-2"><label class=" h6">M-DTX</label>
                </div>
              </div>

              <div class="card-body px-3 py-0">
                <div class=" border-2 border-bottom py-1 text-left">
                  <input type="checkbox" class="me-2"><label class=" h6">M-ITX</label>
                </div>
              </div>

              <div class="card-body px-3 py-0 mb-4">
                <div class=" border-2 border-bottom py-1 text-left">
                  <input type="checkbox" class="me-2"><label class=" h6">MICRO-ATX</label>
                </div>
              </div>
            </div>
          </div>


          <div class="card bg-black text-light py-0">
            <div class="card-header  border border-success rounded-2 py-0">
              <a class="collapsed btn" data-bs-toggle="collapse" href="#collapse1">
                <h6 class="fw-bold  fcolor lol"> STYLING</h6>

              </a>
            </div>
            <div id="collapse1" class="collapse show" data-bs-parent="#accordion">
              <div class="card-body px-3 py-0">
                <div class=" border-2 border-bottom py-1 text-left">
                  <input type="checkbox" class="me-2"><label class=" h6">ATX</label>
                </div>
              </div>

              <div class="card-body px-3 py-0">
                <div class=" border-2 border-bottom py-1 text-left">
                  <input type="checkbox" class="me-2"><label class=" h6">E-ATX</label>
                </div>
              </div>

              <div class="card-body px-3 py-0">
                <div class=" border-2 border-bottom py-1 text-left">
                  <input type="checkbox" class="me-2"><label class=" h6">M-ATX</label>
                </div>
              </div>

              <div class="card-body px-3 py-0">
                <div class=" border-2 border-bottom py-1 text-left">
                  <input type="checkbox" class="me-2"><label class=" h6">M-DTX</label>
                </div>
              </div>

              <div class="card-body px-3 py-0">
                <div class=" border-2 border-bottom py-1 text-left">
                  <input type="checkbox" class="me-2"><label class=" h6">M-ITX</label>
                </div>
              </div>

              <div class="card-body px-3 py-0 mb-4">
                <div class=" border-2 border-bottom py-1 text-left">
                  <input type="checkbox" class="me-2"><label class=" h6">MICRO-ATX</label>
                </div>
              </div>
            </div>
          </div>
          <div class="card bg-black text-light py-0 mb-2">
            <div class="card-header  border border-success rounded-2 py-0">
              <a class="collapsed btn" data-bs-toggle="collapse" href="#collapse2">
                <h6 class="fw-bold  fcolor lol"> MEMORY TYPE</h6>

              </a>
            </div>
            <div id="collapse2" class="collapse " data-bs-parent="#accordion">
              <div class="card-body px-3 py-0">
                <div class=" border-2 border-bottom py-1 text-left">
                  <input type="checkbox" class="me-2"><label class=" h6">64-BIT</label>
                </div>
              </div>

              <div class="card-body px-3 py-0">
                <div class=" border-2 border-bottom py-1 text-left">
                  <input type="checkbox" class="me-2"><label class=" h6">128-BIT</label>
                </div>
              </div>

              <div class="card-body px-3 py-0">
                <div class=" border-2 border-bottom py-1 text-left">
                  <input type="checkbox" class="me-2"><label class=" h6">192-BIT</label>
                </div>
              </div>

              <div class="card-body px-3 py-0">
                <div class=" border-2 border-bottom py-1 text-left">
                  <input type="checkbox" class="me-2"><label class=" h6">256-BIT</label>
                </div>
              </div>

              <div class="card-body px-3 py-0">
                <div class=" border-2 border-bottom py-1 text-left">
                  <input type="checkbox" class="me-2"><label class=" h6">320-BIT</label>
                </div>
              </div>

              <div class="card-body px-3 py-0 mb-4">
                <div class=" border-2 border-bottom py-1 text-left">
                  <input type="checkbox" class="me-2"><label class=" h6">364-BIT</label>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>


      <!-- right side -->
      <div class="col-lg-8 border border-success rounded-2 bg-black mb-2 l32">
        <div class="row p-4 text-end">
          <div class="col-12">

            Sort By
            <select name="country" id="" class="bg-black fcolor ps-2 out">
              <option value="location">Name (A-Z)</option>
              <option value="location">Name (Z-A)</option>
              <option value="location">Price(High-To-Low)</option>
              <option value="location">Price(Low-To-High)</option>
              <option value="location">Rating(High-To-Low)</option>
              <option value="location">Rating(Low-To-High)</option>
              <option value="location"></option>
            </select>
          </div>
        </div>

        <div class="row text-center">
          <div class="card col-lg-4 col-md-6  bg-transparent border border-0 lol l25">
            <a href="product.html" class="text-decoration-none text-light">
              <div id="carouselExampleSlidesOnly" class=" carousel-fade" data-bs-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active" data-bs-interval="2000">
                    <img src="product/p1-PhotoRoom.png-PhotoRoom.png" class="d-block img-fluid" alt="...">
                  </div>
                  <div class="carousel-item" data-bs-interval="2000">
                    <img src="product/p2-PhotoRoom.png-PhotoRoom.png" class="d-block  img-fluid" alt="...">
                  </div>
                  <div class="carousel-item" data-bs-interval="2000">
                    <img src="product/p3-PhotoRoom.png-PhotoRoom.png" class="d-block img-fluid " alt="...">
                  </div>
                  <div class="carousel-item" data-bs-interval="2000">
                    <img src="product/p4-PhotoRoom.png-PhotoRoom.png" class="d-block img-fluid " alt="...">
                  </div>
                  <div class="carousel-item" data-bs-interval="2000">
                    <img src="product/p5-PhotoRoom.png-PhotoRoom.png" class="d-block img-fluid " alt="...">
                  </div>
                </div>
              </div>
              <div class="card-body">
                <p class="card-text">Ant Esports 250 Air Auto RGB (ATX) Mid Tower</p>
                <p class="card-text bg-transparent"><img src="pc/rev4.png" alt=""></p>
                <p class="card-text fw-bold fcolor">₹89,999 </p><del>₹109,599</del>
              </div>
            </a>
          </div>

          <div class="card col-lg-4 col-md-6 bg-transparent lol border border-0 l26">
            <a href="product.html" class="text-decoration-none text-light">
              <div id="carouselExampleSlidesOnly" class=" carousel-fade" data-bs-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active" data-bs-interval="2000">
                    <img src="pc/1-PhotoRoom.png-PhotoRoom.png" class="d-block img-fluid" alt="...">
                  </div>
                  <div class="carousel-item" data-bs-interval="2000">
                    <img src="pc/4-PhotoRoom.png-PhotoRoom.png" class="d-block  img-fluid" alt="...">
                  </div>
                  <div class="carousel-item" data-bs-interval="2000">
                    <img src="pc/5-PhotoRoom.png-PhotoRoom.png" class="d-block img-fluid " alt="...">
                  </div>
                  <div class="carousel-item" data-bs-interval="2000">
                    <img src="pc/6-PhotoRoom.png-PhotoRoom.png" class="d-block img-fluid " alt="...">
                  </div>
                  <div class="carousel-item" data-bs-interval="2000">
                    <img src="pc/5-PhotoRoom.png-PhotoRoom.png" class="d-block img-fluid " alt="...">
                  </div>
                </div>
              </div>
              <div class="card-body">
                <p class="card-text">Ant Esports 250 Air Auto RGB (ATX) Mid Tower</p>
                <p class="card-text bg-transparent"><img src="pc/revv.png" alt=""></p>
                <p class="card-text fw-bold fcolor">₹108,999 </p><del>₹121,799</del>
              </div>
            </a>
          </div>

          <div class="card col-lg-4  col-md-6 bg-transparent border border-0 lol l27">
            <a href="product.html" class="text-decoration-none text-light">
              <div id="carouselExampleSlidesOnly" class=" carousel-fade" data-bs-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active" data-bs-interval="2000">
                    <img src="pc/7-PhotoRoom.png-PhotoRoom.png" class="d-block img-fluid" alt="...">
                  </div>
                  <div class="carousel-item" data-bs-interval="2000">
                    <img src="pc/1-PhotoRoom.png-PhotoRoom.png" class="d-block  img-fluid" alt="...">
                  </div>
                  <div class="carousel-item" data-bs-interval="2000">
                    <img src="pc/7-PhotoRoom.png-PhotoRoom.png" class="d-block img-fluid " alt="...">
                  </div>
                  <div class="carousel-item" data-bs-interval="2000">
                    <img src="pc/bg-6-PhotoRoom.png-PhotoRoom.png" class="d-block img-fluid " alt="...">
                  </div>
                  <div class="carousel-item" data-bs-interval="2000">
                    <img src="pc/16-PhotoRoom.png-PhotoRoom.png" class="d-block img-fluid " alt="...">
                  </div>
                </div>
              </div>
              <div class="card-body">
                <p class="card-text">Ant Esports 250 Air Auto RGB (ATX) Mid Tower</p>
                <p class="card-text bg-transparent"><img src="pc/rev3.png" alt=""></p>
                <p class="card-text fw-bold fcolor">₹105,699 </p><del>₹124,599</del>
              </div>
            </a>
          </div>

          <!-- 2 row -->
          <div class="card col-lg-4 col-md-6 bg-transparent border border-0 lol l25">
            <a href="product.html" class="text-decoration-none text-light">
              <div id="carouselExampleSlidesOnly" class=" carousel-fade" data-bs-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active" data-bs-interval="2000">
                    <img src="pc/8-PhotoRoom.png-PhotoRoom.png" class="d-block img-fluid" alt="...">
                  </div>
                  <div class="carousel-item" data-bs-interval="2000">
                    <img src="pc/9-PhotoRoom.png-PhotoRoom.png" class="d-block  img-fluid" alt="...">
                  </div>
                  <div class="carousel-item" data-bs-interval="2000">
                    <img src="pc/7-PhotoRoom.png-PhotoRoom.png" class="d-block img-fluid " alt="...">
                  </div>
                  <div class="carousel-item" data-bs-interval="2000">
                    <img src="pc/10-PhotoRoom.png-PhotoRoom.png" class="d-block img-fluid " alt="...">
                  </div>
                  <div class="carousel-item" data-bs-interval="2000">
                    <img src="pc/4-PhotoRoom.png-PhotoRoom.png" class="d-block img-fluid " alt="...">
                  </div>
                </div>
              </div>
              <div class="card-body">
                <p class="card-text">Ant Esports 250 Air Auto RGB (ATX) Mid Tower</p>
                <p class="card-text bg-transparent"><img src="pc/revv.png" alt=""></p>
                <p class="card-text fw-bold fcolor">₹63,799 </p><del>₹79,999</del>
              </div>
            </a>
          </div>

          <div class="card col-lg-4 col-md-6 bg-transparent lol border border-0 l26">
            <a href="product.html" class="text-decoration-none text-light">
              <div id="carouselExampleSlidesOnly" class=" carousel-fade" data-bs-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active" data-bs-interval="2000">
                    <img src="pc/11-PhotoRoom.png-PhotoRoom.png" class="d-block img-fluid" alt="...">
                  </div>
                  <div class="carousel-item" data-bs-interval="2000">
                    <img src="pc/12-PhotoRoom.png-PhotoRoom.png" class="d-block  img-fluid" alt="...">
                  </div>
                  <div class="carousel-item" data-bs-interval="2000">
                    <img src="pc/12-PhotoRoom.png-PhotoRoom.png" class="d-block img-fluid " alt="...">
                  </div>
                  <div class="carousel-item" data-bs-interval="2000">
                    <img src="pc/12-PhotoRoom.png-PhotoRoom.png" class="d-block img-fluid " alt="...">
                  </div>
                  <div class="carousel-item" data-bs-interval="2000">
                    <img src="pc/11-PhotoRoom.png-PhotoRoom.png" class="d-block img-fluid " alt="...">
                  </div>
                </div>
              </div>
              <div class="card-body">
                <p class="card-text">Ant Esports 250 Air Auto RGB (ATX) Mid Tower</p>
                <p class="card-text bg-transparent"><img src="pc/rev4.png" alt=""></p>
                <p class="card-text fw-bold fcolor">₹63,299 </p><del>₹69,299</del>
              </div>
            </a>
          </div>

          <div class="card col-lg-4 col-md-6 bg-transparent border border-0 lol l27">
            <a href="product.html" class="text-decoration-none text-light">
              <div id="carouselExampleSlidesOnly" class=" carousel-fade" data-bs-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active" data-bs-interval="2000">
                    <img src="pc/14-PhotoRoom.png-PhotoRoom.png" class="d-block img-fluid" alt="...">
                  </div>
                  <div class="carousel-item" data-bs-interval="2000">
                    <img src="pc/15-PhotoRoom.png-PhotoRoom.png" class="d-block  img-fluid" alt="...">
                  </div>
                  <div class="carousel-item" data-bs-interval="2000">
                    <img src="pc/16-PhotoRoom.png-PhotoRoom.png" class="d-block img-fluid " alt="...">
                  </div>
                  <div class="carousel-item" data-bs-interval="2000">
                    <img src="pc/15-PhotoRoom.png-PhotoRoom.png" class="d-block img-fluid " alt="...">
                  </div>
                  <div class="carousel-item" data-bs-interval="2000">
                    <img src="pc/14-PhotoRoom.png-PhotoRoom.png" class="d-block img-fluid " alt="...">
                  </div>
                </div>
              </div>
              <div class="card-body">
                <p class="card-text">Ant Esports 250 Air Auto RGB (ATX) Mid Tower</p>
                <p class="card-text bg-transparent"><img src="pc/rev3.png" alt=""></p>
                <p class="card-text fw-bold fcolor">₹89,599 </p><del>₹109,999</del>
              </div>
            </a>
          </div>


          <!-- row 3 -->
          <div class="card col-lg-4 col-md-6 bg-transparent border border-0 lol l25">
            <a href="product.html" class="text-decoration-none text-light">
              <div id="carouselExampleSlidesOnly" class=" carousel-fade" data-bs-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active" data-bs-interval="2000">
                    <img src="pc/17-PhotoRoom.png-PhotoRoom.png" class="d-block img-fluid" alt="...">
                  </div>
                  <div class="carousel-item" data-bs-interval="2000">
                    <img src="pc/18-PhotoRoom.png-PhotoRoom.png" class="d-block  img-fluid" alt="...">
                  </div>
                  <div class="carousel-item" data-bs-interval="2000">
                    <img src="pc/19-PhotoRoom.png-PhotoRoom.png" class="d-block img-fluid " alt="...">
                  </div>
                  <div class="carousel-item" data-bs-interval="2000">
                    <img src="pc/17-PhotoRoom.png-PhotoRoom.png" class="d-block img-fluid " alt="...">
                  </div>
                  <div class="carousel-item" data-bs-interval="2000">
                    <img src="pc//18-PhotoRoom.png-PhotoRoom.png" class="d-block img-fluid " alt="...">
                  </div>
                </div>
              </div>
              <div class="card-body">
                <p class="card-text">Ant Esports 250 Air Auto RGB (ATX) Mid Tower</p>
                <p class="card-text bg-transparent"><img src="pc/rev4.png" alt=""></p>
                <p class="card-text fw-bold fcolor">₹71,399 </p><del>₹82,499</del>
              </div>
            </a>
          </div>

          <div class="card col-lg-4 col-md-6 bg-transparent lol border border-0 l26">
            <a href="product.html" class="text-decoration-none text-light">
              <div id="carouselExampleSlidesOnly" class=" carousel-fade" data-bs-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active" data-bs-interval="2000">
                    <img src="pc/21-PhotoRoom.png-PhotoRoom.png" class="d-block img-fluid" alt="...">
                  </div>
                  <div class="carousel-item" data-bs-interval="2000">
                    <img src="pc/22-PhotoRoom.png-PhotoRoom.png" class="d-block  img-fluid" alt="...">
                  </div>
                  <div class="carousel-item" data-bs-interval="2000">
                    <img src="pc/23-PhotoRoom.png-PhotoRoom.png" class="d-block img-fluid " alt="...">
                  </div>
                  <div class="carousel-item" data-bs-interval="2000">
                    <img src="pc/24-PhotoRoom.png-PhotoRoom.png" class="d-block img-fluid " alt="...">
                  </div>
                  <div class="carousel-item" data-bs-interval="2000">
                    <img src="pc/25-PhotoRoom.png-PhotoRoom.png" class="d-block img-fluid " alt="...">
                  </div>
                </div>
              </div>
              <div class="card-body">
                <p class="card-text">Ant Esports 250 Air Auto RGB (ATX) Mid Tower</p>
                <p class="card-text bg-transparent"><img src="pc/rev2.png" alt=""></p>
                <p class="card-text fw-bold fcolor">₹39,199 </p><del>₹59,999</del>
              </div>
            </a>
          </div>

          <div class="card col-lg-4 col-md-6 bg-transparent border border-0 lol l27">
            <a href="product.html" class="text-decoration-none text-light">
              <div id="carouselExampleSlidesOnly" class=" carousel-fade" data-bs-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active" data-bs-interval="2000">
                    <img src="pc/27-PhotoRoom.png-PhotoRoom.png" class="d-block img-fluid" alt="...">
                  </div>
                  <div class="carousel-item" data-bs-interval="2000">
                    <img src="pc/28-PhotoRoom.png-PhotoRoom.png" class="d-block  img-fluid" alt="...">
                  </div>
                  <div class="carousel-item" data-bs-interval="2000">
                    <img src="pc/29-PhotoRoom.png-PhotoRoom.png" class="d-block img-fluid " alt="...">
                  </div>
                  <div class="carousel-item" data-bs-interval="2000">
                    <img src="pc/30-PhotoRoom.png-PhotoRoom.png" class="d-block img-fluid " alt="...">
                  </div>
                  <div class="carousel-item" data-bs-interval="2000">
                    <img src="pc/31-PhotoRoom.png-PhotoRoom.png" class="d-block img-fluid " alt="...">
                  </div>
                </div>
              </div>
              <div class="card-body">
                <p class="card-text">Ant Esports 250 Air Auto RGB (ATX) Mid Tower</p>
                <p class="card-text bg-transparent"><img src="pc/rev3.png" alt=""></p>
                <p class="card-text fw-bold fcolor">₹87,899 </p><del>₹99,999</del>
              </div>
            </a>
          </div>


          <!-- row4 -->
          <div class="card col-lg-4 col-md-6 bg-transparent border border-0 lol l25">
            <a href="product.html" class="text-decoration-none text-light">
              <div id="carouselExampleSlidesOnly" class=" carousel-fade" data-bs-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active" data-bs-interval="2000">
                    <img src="pc/32-PhotoRoom.png-PhotoRoom.png" class="d-block img-fluid" alt="...">
                  </div>
                  <div class="carousel-item" data-bs-interval="2000">
                    <img src="pc/33-PhotoRoom.png-PhotoRoom.png" class="d-block  img-fluid" alt="...">
                  </div>
                  <div class="carousel-item" data-bs-interval="2000">
                    <img src="pc/34-PhotoRoom.png-PhotoRoom.png" class="d-block img-fluid " alt="...">
                  </div>
                  <div class="carousel-item" data-bs-interval="2000">
                    <img src="pc/32-PhotoRoom.png-PhotoRoom.png" class="d-block img-fluid " alt="...">
                  </div>
                  <div class="carousel-item" data-bs-interval="2000">
                    <img src="pc/33-PhotoRoom.png-PhotoRoom.png" class="d-block img-fluid " alt="...">
                  </div>
                </div>
              </div>
              <div class="card-body">
                <p class="card-text">Ant Esports 250 Air Auto RGB (ATX) Mid Tower</p>
                <p class="card-text bg-transparent"><img src="pc/revv.png" alt=""></p>
                <p class="card-text fw-bold fcolor">₹59,599 </p><del>₹79,199</del>
              </div>
            </a>
          </div>

          <div class="card col-lg-4 col-md-6 bg-transparent lol border border-0 l26">
            <a href="product.html" class="text-decoration-none text-light">
              <div id="carouselExampleSlidesOnly" class=" carousel-fade" data-bs-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active" data-bs-interval="2000">
                    <img src="pc/35-PhotoRoom.png-PhotoRoom.png" class="d-block img-fluid" alt="...">
                  </div>
                  <div class="carousel-item" data-bs-interval="2000">
                    <img src="pc/36-PhotoRoom.png-PhotoRoom.png" class="d-block  img-fluid" alt="...">
                  </div>
                  <div class="carousel-item" data-bs-interval="2000">
                    <img src="pc/37-PhotoRoom.png-PhotoRoom.png" class="d-block img-fluid " alt="...">
                  </div>
                  <div class="carousel-item" data-bs-interval="2000">
                    <img src="pc/38-PhotoRoom.png-PhotoRoom.png" class="d-block img-fluid " alt="...">
                  </div>
                  <div class="carousel-item" data-bs-interval="2000">
                    <img src="pc/35-PhotoRoom.png-PhotoRoom.png" class="d-block img-fluid " alt="...">
                  </div>
                </div>
              </div>
              <div class="card-body">
                <p class="card-text">Ant Esports 250 Air Auto RGB (ATX) Mid Tower</p>
                <p class="card-text bg-transparent"><img src="pc/rev2.png" alt=""></p>
                <p class="card-text fw-bold fcolor">₹49,299 </p><del>₹59,999</del>
              </div>
            </a>
          </div>

          <div class="card col-lg-4 col-md-6 bg-transparent border border-0 lol l27">
            <a href="product.html" class="text-decoration-none text-light">
              <div id="carouselExampleSlidesOnly" class=" carousel-fade" data-bs-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active" data-bs-interval="2000">
                    <img src="pc/39-PhotoRoom.png-PhotoRoom.png" class="d-block img-fluid" alt="...">
                  </div>
                  <div class="carousel-item" data-bs-interval="2000">
                    <img src="pc/40-PhotoRoom.png-PhotoRoom.png" class="d-block  img-fluid" alt="...">
                  </div>
                  <div class="carousel-item" data-bs-interval="2000">
                    <img src="pc/41-PhotoRoom.png-PhotoRoom.png" class="d-block img-fluid " alt="...">
                  </div>
                  <div class="carousel-item" data-bs-interval="2000">
                    <img src="pc/42-PhotoRoom.png-PhotoRoom.png" class="d-block img-fluid " alt="...">
                  </div>
                  <div class="carousel-item" data-bs-interval="2000">
                    <img src="pc/14-PhotoRoom.png-PhotoRoom.png" class="d-block img-fluid " alt="...">
                  </div>
                </div>
              </div>
              <div class="card-body">
                <p class="card-text">Ant Esports 250 Air Auto RGB (ATX) Mid Tower</p>
                <p class="card-text bg-transparent"><img src="pc/rev3.png" alt=""></p>
                <p class="card-text fw-bold fcolor">₹109,999 </p><del>₹139,999</del>
              </div>
            </a>
          </div>

          <ul class="pagination justify-content-center mt-5 ">
            <li class="page-item"><a class="page-link bcolor text-dark" href="#">Previous</a></li>
            <li class="page-item"><a class="page-link bcolor text-dark" href="#">1</a></li>
            <li class="page-item"><a class="page-link bcolor text-dark" href="#">2</a></li>
            <li class="page-item"><a class="page-link bcolor text-dark" href="#">3</a></li>
            <li class="page-item"><a class="page-link bcolor text-dark" href="#">Next</a></li>
          </ul>

        </div>
      </div>
    </div>
  </div>
  <!-- bottom carousel -->
  <div class="container text-center my-5">
    <h1 class="fw-bold fcolor py-4 l25">RELATED PRODUCTS</h1>
    <div class="row mx-auto my-auto justify-content-center l26">
      <div id="recipeCarousel3" class="carousel slide ala" data-bs-ride="carousel">
        <div class="carousel-inner" role="listbox">
          <div class="carousel-item active alla " data-bs-interval="2000">
            <div class="col-md-3  lol">
              <a href="product.html" class="text-decoration-none text-light">
                <div class="card bg-transparent border border-0">
                  <div class="card-img">
                    <img src="pc/7-PhotoRoom.png-PhotoRoom.png" class="img-fluid">
                  </div>
                  <div class="card-body text-light">
                    <h5>EQURA II</h5>
                    <img src="product/revv.png" alt="">
                    <P class="fw-bold"> ₹44,999 <del class="text-body">₹55,999</del></p>
                  </div>
                </div>
              </a>
            </div>
          </div>
          <div class="carousel-item alla " data-bs-interval="2000">
            <div class="col-md-3 lol">
              <a href="product.html" class="text-decoration-none text-light">
                <div class="card bg-transparent border border-0">
                  <div class="card-img">
                    <img src="pc/24-PhotoRoom.png-PhotoRoom.png" class="img-fluid">
                  </div>
                  <div class="card-body text-light">
                    <h5>EQURA I</h5>
                    <img src="product/rev4.png" alt="">
                    <P class="fw-bold"> ₹59,999 <del class="text-body">₹65,999</del></p>
                  </div>
                </div>
              </a>
            </div>
          </div>
          <div class="carousel-item alla" data-bs-interval="2000">
            <div class="col-md-3 lol ">
              <a href="product.html" class="text-decoration-none text-light">
                <div class="card bg-transparent border border-0">
                  <div class="card-img">
                    <img src="pc/27-PhotoRoom.png-PhotoRoom.png" class="img-fluid">
                  </div>
                  <div class="card-body text-light">
                    <h5>EQURA III</h5>
                    <img src="product/rev2.png" alt="">
                    <P class="fw-bold"> ₹48,999 <del class="text-body">₹55,999</del></p>
                  </div>
                </div>
              </a>
            </div>
          </div>
          <div class="carousel-item alla " data-bs-interval="2000">
            <div class="col-md-3 lol">
              <a href="product.html" class="text-decoration-none text-light">
                <div class="card bg-transparent border border-0">
                  <div class="card-img">
                    <img src="pc/33-PhotoRoom.png-PhotoRoom.png" class="img-fluid">
                  </div>
                  <div class="card-body text-light">
                    <h5>SONIC 300</h5>
                    <img src="product/rev4.png" alt="">
                    <P class="fw-bold"> ₹74,999 <del class="text-body">₹85,999</del></p>
                  </div>
                </div>
              </a>
            </div>
          </div>
          <div class="carousel-item alla " data-bs-interval="2000">
            <div class="col-md-3 lol">
              <a href="product.html" class="text-decoration-none text-light">
                <div class="card bg-transparent border border-0">
                  <div class="card-img">
                    <img src="pc/42-PhotoRoom.png-PhotoRoom.png" class="img-fluid">
                  </div>
                  <div class="card-body text-light">
                    <h5>BROCODE XYZ</h5>
                    <img src="product/rev3.png" alt="">
                    <P class="fw-bold"> ₹65,999 <del class="text-body">₹75,999</del></p>
                  </div>
                </div>
              </a>
            </div>
          </div>
          <div class="carousel-item alla " data-bs-interval="2000">
            <div class="col-md-3 lol">
              <a href="product.html" class="text-decoration-none text-light">
                <div class="card bg-transparent border border-0">
                  <div class="card-img">
                    <img src="pc/31-PhotoRoom.png-PhotoRoom.png" class="img-fluid">
                  </div>
                  <div class="card-body text-light">
                    <h5>430 GOLD</h3>
                      <img src="product/rev4.png" alt="">
                      <P class="fw-bold"> ₹62,999 <del class="text-body">₹65,999</del></p>
                  </div>
                </div>
              </a>
            </div>
          </div>
          <div class="carousel-item alla " data-bs-interval="2000">
            <div class="col-md-3 lol">
              <a href="product.html" class="text-decoration-none text-light">
                <div class="card bg-transparent border border-0">
                  <div class="card-img">
                    <img src="pc/22-PhotoRoom.png-PhotoRoom.png" class="img-fluid">
                  </div>
                  <div class="card-body text-light">
                    <h5>LALAZONE</h3>
                      <img src="product/revv.png" alt="">
                      <P class="fw-bold"> ₹69,999 <del class="text-body">₹75,999</del></p>
                  </div>
                </div>
              </a>
            </div>
          </div>
          <div class="carousel-item alla" data-bs-interval="2000">
            <div class="col-md-3 lol">
              <a href="product.html" class="text-decoration-none text-light">
                <div class="card bg-transparent border border-0">
                  <div class="card-img">
                    <img src="pc/12-PhotoRoom.png-PhotoRoom.png" class="img-fluid">
                  </div>
                  <div class="card-body text-light">
                    <h5>TOWER 350</h3>
                      <img src="product/rev3.png" alt="">
                      <P class="fw-bold"> ₹32,999 <del class="text-body">₹35,999</del></p>
                  </div>
                </div>
              </a>
            </div>
          </div>

        </div>
        <a class="carousel-control-prev bg-transparent w-aut" href="#recipeCarousel3" role="button"
          data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        </a>
        <a class="carousel-control-next bg-transparent w-aut" href="#recipeCarousel3" role="button"
          data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
        </a>
      </div>
    </div>
  </div>


























<div class="row">

    <%for( let i=0; i < pc.length; i++ ) { %>
        <a href="/product/<%= pc[i].product_category %>/<%= pc[i].product_id %>">
        <div class="card col-lg-4 col-md-6 bg-transparent border border-0 lol ">
  
            <div id="carouselExampleSlidesOnly" class=" carousel-fade" data-bs-ride="carousel">
              <div class="carousel-inner">
                  <% const image = pc[i].product_image.split(',') %>
                  <% image.forEach((element, index) => { %>
                      <div class="carousel-item <%= index === 0 ? 'active' : '' %>" data-bs-interval="2000">
                          <img src="/static/images/category/product/<%= element %>" class=" img-fluid" alt="...">
                      </div>
                  <% }) %>        
              </div>
            </div>
            <div class="card-body">
              <p class="card-text">  <%= pc[i].product_name %></p>
              <p class="card-text bg-transparent"><img src="pc/rev3.png" alt=""></p>
              <p class="card-text fw-bold fcolor">₹<%= pc[i].product_price %> </p><del>₹<%= pc[i].orignal_price %></del>
            </div>
        
        </div> 
    </a>
        <% } %>
    </div>


        
<script>let items = document.querySelectorAll('.ala .alla')

  items.forEach((el) => {
    const minPerSlide = 4
    let next = el.nextElementSibling
    for (var i = 1; i < minPerSlide; i++) {
      if (!next) {
        // wrap carousel by using first child
        next = items[0]
      }
      let cloneChild = next.cloneNode(true)
      el.appendChild(cloneChild.children[0])
      next = next.nextElementSibling
    }
  })</script>