<%- include('common/header.ejs') %>


  <!-- product img carousel -->
  <div class="container mt-5 pt-5">
    <div class="row ">
      <div class="col-md-5 py-5 1">
        <div id="carouselExampleSlidesOnly" class=" carousel-fade" data-bs-ride="carousel">
          <div class="carousel-inner">
            <% const image=product[0].product_image.split(',') %>
              <% image.forEach((element, index)=> { %>
                <div class="carousel-item <%= index === 0 ? 'active' : '' %>" data-bs-interval="2000">
                  <img src="/static/images/category/product/<%= element %>" class=" img-fluid" alt="..." id="cart_img">
                </div>
                <% }) %>


          </div>
        </div>
      </div>

      <!-- product description -->
      <%for( let i=0; i< product.length; i++ ) { %>
      <div class="col-md-7 text-light pt-5 ">
        <h2 class="fw-bold fcolor lol l25" id="cart_pname">
          <%= product[i].product_name %>
        </h2>
        <input type="hidden"  class="product_id ram" data-idp="<%= product[i].product_id %>">
        <input type="hidden" id="product_category" value="<%= product[i].product_category %>">

        <% if( results1==''){ %>
        <input type="hidden" class="product_quantity" value="" >
        <%} else{%>
          <input type="hidden" class="product_quantity" value="<%=results1[0].product_quantity%>" >
      <%}%>

        <i class=" l27 text-warning">BY CORSAIR</i>
        <h2 class="fw-bold l26" id="cart_pprice">₹<%= product[i].product_price %>
        </h2>
        <p class="text-danger l26">(27% off )</p>
        <p class="fw-bold l27">Save ₹1,708 <del> MSRP ₹6,299 </del>(Inc of all taxes)</p>
        <!-- <img src="product/revv.png" alt=""  class="l29"> -->
        <div class="p-0 l28">
          <p>Product Model: 150-Matel-F490-BLACK <br><span>Availability: <i class="text-success">In Stock</i> </span>
          </p>
        </div>

        <div class="my-5 l29">Credit Card EMI Plans start from ₹410 <a href=""
            class="text-decoration-none text-success">
            View More ></a></div>

      </div>
      <%}%>

    </div>
  </div>
  <div class="container ">
    <button class="btn btn-outline-success bcolor px-5 py-2 my-3 text-light lol " id="cartbtn">Add to Cart</button>
    <button class="btn btn-outline-dark px-5 py-2 my-3 text-light lol lala15">Buy Now</button>
  </div>







  <div class="container my-3 ">
    <div class="row">
      <div class="col-12 my-3">
        <div id="accordion">
          <div class="card bg-black text-light border border-success py-0 my-0 lala14">
            <div class="card-header">
              <a class="btn" data-bs-toggle="collapse" href="#collapseOne">
                <h3 class="fw-bold fcolor lol">DESCRIPTION +</h3>
              </a>
            </div>

            <div id="collapseOne" class="collapse  sho " data-bs-parent="#accordion">
              <div class="card-body">
                <h4 class="fw-bold fcolor">Features:</h4>
                <li><strong> High Air Flow-</strong> With a tapered mesh design in the front the 510 Air delivers high
                  airflow to keep even the most demanding systems cool under extreme conditions.</li>
                <li><strong> Four ARGB Fans-</strong> The Ant Esports 510 Flow comes with four high CFM 120mm ARGB fans
                  pre-installed that can be controlled via motherboard software like MSI Mystic Lights, Asus Aura,
                  Gigabyte RGB Fusion, etc.</li>
                <li><strong> Roomy Interior-</strong> Support for up to a 360mm long graphics card, a 160mm CPU cooler,
                  and up to an E-ATX motherboard provides room for upgrades to stay ahead of the game.</li>
                <li><strong> Vertical GPU Mount-</strong> The 510 Air supports vertical GPU support right out of the box
                  so you can flaunt your graphics card with ease..</li>
                <h4 class="fw-bold fcolor">Specifications:</h4>

                <table class="table table-bordered border-success text-light">
                  <tbody>
                    <tr>
                      <td scope="row">Dimensions (L x W x H)</td>
                      <td>
                        Chassis Size: 416 x 210 x 452 mm <br>
                        Packing Size: 508 x 278 x 492 mm
                      </td>


                    </tr>
                    <tr>
                      <td scope="row">Motherboard Type</td>
                      <td>
                        E-ATX, ATX, Micro-ATX, Mini-ITX
                      </td>
                    </tr>
                    <tr>
                      <td scope="row">Drive Bays </td>
                      <td>
                        3.5Inch x2 <br>
                        2.5Inch x4
                      </td>

                    </tr>
                    <tr>
                      <td scope="row">Fan Support</td>
                      <td>
                        Front: 120mm x3 <br>
                        Top: 120/140mm x2 <br>
                        Bottom: None <br>
                        Rear: 120mm x1

                      </td>
                    </tr>
                    <tr>
                      <td scope="row">Liquid Cooling Support(Maximum)
                      </td>
                      <td>
                        Front: 120/240/360 mm <br>
                        Rear: 120mm

                      </td>
                    </tr>
                    <tr>
                      <td scope="row">Compatibility (Maximum)
                      </td>
                      <td>
                        VGA Card Length: 360mm <br>
                        CPU Cooler Height: 160mm
                      </td>
                    </tr>
                    <tr>
                      <td>Warranty</td>
                      <td>1 year</td>
                    </tr>
                    <tr>
                      <td>Note</td>
                      <td class="text-danger">*** Features, Price, Specifications are subject to change without notice.
                      </td>
                    </tr>
                  </tbody>
                </table>

                <table class="table  bg-black text-light border-success">
                  <tbody>
                    <tr>
                      <td scope="row">Cabinet Size</td>
                      <td>MID-TOWER</td>
                    <tr>
                      <td scope="row">MAX GPU LENGTH</td>
                      <td>360mm</td>
                    </tr>
                    <tr>
                      <td scope="row">MAX 3.5" HDD</td>
                      <td>2</td>
                    </tr>
                    <tr>
                      <td scope="row">MAX 2.5" SSD</td>
                      <td>4</td>
                    </tr>
                    <tr>
                      <td scope="row">EXPANSION SLOTS</td>
                      <td>7</td>
                    </tr>
                    <tr>
                      <td scope="row">MAX RADIATOR SUPPORT</td>
                      <td>360mm</td>
                    </tr>
                    <tr>
                      <td scope="row">FONT PANEL</td>
                      <td>MESH</td>
                    </tr>
                    <tr>
                      <td scope="row">LEFT PANEL</td>
                      <td>TRANSPARENT</td>
                    </tr>

                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>


      <!-- review -->

      <div class="col-12 my-3">
        <div id="accordion">
          <div class="card bg-black text-light border border-success py-0 my-0 l27">
            <div class="card-header">
              <a class="btn" data-bs-toggle="collapse" href="#collapsetwo">
                <h3 class="fw-bold fcolor lol">REVIEWS +</h3>
              </a>
            </div>

            <div id="collapsetwo" class="collapse" data-bs-parent="#accordion">
              <div class="card-body">
                <h4 class="fw-light fcolor">Write a review</h4>
                <div class="my-5 fcolor">
                  <h6>Your Name</h6>
                  <input type="text" name=""  class="bg-dark rounded-2 text-light out w-100">
                </div>

                <div class="my-5 fcolor">
                  <h6>Your Review</h6>
                  <textarea name="" id="" cols="30" rows="10" 
                    class="bg-dark rounded-2 text-light out w-100">
 </textarea>
                </div>

                <div class="mt-5 mb-3 fcolor">
                  <h6>Rating</h6>
                  <input type="radio" name="">
                  <input type="radio" name="">
                  <input type="radio" name="">
                  <input type="radio" name="">
                  <input type="radio" name="">

                </div>
                <div class="modal fade" id="staticBackdrop" data-bs-keyboard="false" tabindex="-1"
                  aria-labelledby="staticBackdropLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content  bg-black">
                      <div class="modal-header text-center">
                        <h1 class="modal-title fs-5 " id="staticBackdropLabel">Review Submitted</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body text-center h2">
                        Thank You For Your Valuable Review!!
                      </div>
                      <div class="modal-footer justify-content-center">
                        <button type="button" class="btn btn-outline-success bcolor text-light"
                          data-bs-dismiss="Modal">Thank You</button>
                      </div>
                    </div>
                  </div>
                </div>


                <button type="button" class="btn btn-outline-success border bcolor text-light" data-bs-toggle="modal"
                  data-bs-target="#staticBackdrop">
                  Submit</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- qna -->
      <div class="col-12 my-3">
        <div id="accordion">
          <div class="card bg-black text-light border border-success py-0 my-0 l28">
            <div class="card-header">
              <a class="btn" data-bs-toggle="collapse" href="#collapsethree">
                <h3 class="fw-bold fcolor lol">Q & A +</h3>
              </a>
            </div>

            <div id="collapsethree" class="collapse" data-bs-parent="#accordion">
              <div class="card-body">
                <span class="">
                  <h4 class="fw-bold fcolor">Questions and Answers</h4>
                  <strong> Q. Are the pre installed fans used in this cabinet availabe to buy</strong>
                  <p>A. Unfortunately no, that would jeopardize the stock from where the fans are sold out.</p>
                </span>
              </div>
              <div class="card-body">
                <span class="">
                  <strong> Q. Can i buy this cabinet from their offline store in bhubaneswar?</strong>
                  <p>A. You can contact the Bhubaneswar store at 8093046200 (10:30 am to 7:30 pm, Mon-Sat) to know any
                    product availability.</p>
                </span>
              </div>
              <div class="card-body">
                <span class="">
                  <strong> Q. does it come with a fan & RGB hub to control lights via software</strong>
                  <p>A. A controller is included. </p>
                </span>
              </div>
              <div class="card-body">
                <span class="">
                  <strong> Q. How to enable mother board sync? I was not able to controll the LED using motherboard even
                    after connect to ARGB header</strong>
                  <p>A. Please mail us at info@mdcomputers.in mentioning the order id and issue. </p>
                </span>
              </div>


              <ul class="pagination justify-content-center">
                <li class="page-item"><a class="page-link bcolor text-light" href="#">Previous</a></li>
                <li class="page-item"><a class="page-link bcolor text-light" href="#">1</a></li>
                <li class="page-item"><a class="page-link bcolor text-light" href="#">2</a></li>
                <li class="page-item"><a class="page-link bcolor text-light" href="#">3</a></li>
                <li class="page-item"><a class="page-link bcolor text-light" href="#">Next</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>





  <script>
    $(document).ready(function () {
     var quantity= 0;
      $(document).on('click','#cartbtn', function () {

        var cartproduct = $('#cart_img').attr('src');
        var bb = cartproduct.split('/')
        var cart_img = bb[5]
        quantity+=1;
        var cart_pname = document.getElementById('cart_pname').innerText;
        var cart_pprice = document.getElementById('cart_pprice').innerHTML;
      const product_id = $('.product_id').data('idp');
    
        var product_category = $('#product_category').val()
        var _quantity = $('.product_quantity').val()
      
        product_quantity = Number(_quantity) + quantity
console.log(product_quantity);
        data = { product_category: product_category, product_quantity: product_quantity, product_id: product_id, cart_img: cart_img, cart_pname: cart_pname, cart_pprice: cart_pprice };
console.log(data);
        $.ajax({
          type: 'POST',
          url: '/cart',
          data: data,
          success: function (response) {
            if(response.msg=='user'){
            setTimeout(
            function(){ 
            window.location.reload()} ,2000)
          }   else{
            window.location.href='/login'
          }  
            }
        }
        )
      })
    })








  </script>