<%- include('common/header.ejs') %>


  <!-- product img carousel -->
  <div class="container mt-5 pt-5">
    <div class="row ">
      <div class="col-md-5 py-5 1">
        <div id="carouselExampleSlidesOnly" class=" carousel-fade" data-bs-ride="carousel">
          <div class="carousel-inner">
            <% const image=product[0].product_image.split(',') %>
              <% image.forEach((element, index)=> { %>
                <div class="carousel-item <%= index === 0 ? 'active' : '' %>" data-bs-interval="2000">
                  <img src="/static/images/category/product/<%= element %>" class=" img-fluid" alt="..." id="cart_img">
                </div>
                <% }) %>


          </div>
        </div>
      </div>

      <!-- product description -->
      <%for( let i=0; i< product.length; i++ ) { %>
      <div class="col-md-7 text-light pt-5 ">
        <h2 class="fw-bold fcolor lol l25" id="cart_pname">
          <%= product[i].product_name %>
        </h2>
        <input type="hidden"  class="product_id ram" data-idp="<%= product[i].product_id %>">
        <input type="hidden" id="product_category" value="<%= product[i].product_category %>">

        <% if( results1==''){ %>
        <input type="hidden" class="product_quantity" value="" >
        <%} else{%>
          <input type="hidden" class="product_quantity" value="<%=results1[0].product_quantity%>" >
      <%}%>

        <i class=" l27 text-warning">BY CORSAIR</i>
        <h2 class="fw-bold l26" id="cart_pprice">₹<%= product[i].product_price %>
        </h2>
        <p class="text-danger l26">(27% off )</p>
        <p class="fw-bold l27">Save ₹1,708 <del> MSRP ₹6,299 </del>(Inc of all taxes)</p>
        <!-- <img src="product/revv.png" alt=""  class="l29"> -->
        <div class="p-0 l28">
          <p>Product Model: 150-Matel-F490-BLACK <br><span>Availability: <i class="text-success">In Stock</i> </span>
          </p>
        </div>

        <div class="my-5 l29">Credit Card EMI Plans start from ₹410 <a href=""
            class="text-decoration-none text-success">
            View More ></a></div>

      </div>
      <%}%>

    </div>
  </div>
  <div class="container ">
    <button class="btn btn-outline-success bcolor px-5 py-2 my-3 text-light lol " id="cartbtn">Add to Cart</button>
    <button class="btn btn-outline-dark px-5 py-2 my-3 text-light lol lala15">Buy Now</button>
  </div>












  <script>
    $(document).ready(function () {
     var quantity= 0;
      $(document).on('click','#cartbtn', function () {

        var cartproduct = $('#cart_img').attr('src');
        var bb = cartproduct.split('/')
        var cart_img = bb[5]
        quantity+=1;
        var cart_pname = document.getElementById('cart_pname').innerText;
        var cart_pprice = document.getElementById('cart_pprice').innerHTML;
      const product_id = $('.product_id').data('idp');
    
        var product_category = $('#product_category').val()
        var _quantity = $('.product_quantity').val()
        alert(_quantity)
        product_quantity = Number(_quantity) + quantity
console.log(product_quantity);
        data = { product_category: product_category, product_quantity: product_quantity, product_id: product_id, cart_img: cart_img, cart_pname: cart_pname, cart_pprice: cart_pprice };
console.log(data);
        $.ajax({
          type: 'POST',
          url: '/cart',
          data: data,
          success: function (response) {
            console.log(response);
            setTimeout(
            function(){ 
            window.location.reload()} ,1000)

          }
        }
        )
      })
    })






// $(document).ready(function () {
   
//       $(document).on('click','#cartbtn', function () {
// let x = document.querySelectorAll('.ram')
// const nik = $(x).val()
// console.log(nik);
// for(let i=0;i<x.length;i++){

// }
//       })
//     })



  </script>