<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    

    <%- include('common/header.ejs') %>


    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body class="profilebody">
        
        <div class="container-fluid">
            <div class="row ">
            <div class="col-3 p-2 text-center">
            
                <div class="rounded-3 border p-3">
            
            <img src="/static/images/category/profile/<%=user[0].user_profile %>" alt="" width="200" height="200" class="rounded-circle">
            <div class="row justify-content-center pt-2">
             
               
                        <div class="col-4 pt-1 text-end"> <i class="fa-solid fa-user text  fs-6 me-4"></i></div> 
                <div class="col-6 text-start fs-4"><%=user[0].user_name %></div>
                        <div class="col-4 pt-1 text-end"> <i class="fa-solid fa-envelope text fs-6 me-4"></i></div> 
            <div class="col-6 text-start fs-6 fst-italic"><%=user[0].user_email %></div>
                    <div class="col-4 pt-1 text-end"> <i class="fa-solid fa-address-card text fs-6 me-4"></i></div> 
            <div class="col-6 text-start fs-6 fst-italic"><%=user[0].user_role %></div>
                    <div class="col-4 pt-1 text-end"> <i class="fa-solid fa-phone text fs-6 me-4"></i></div> 
            <div class="col-6 text-start fs-6 fst-italic"><%=user[0].user_number %></div>
                </div>




            </div>
         
    
            
            </div>
            <div class="col-9 p-2">
    
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore dolorem provident autem porro voluptate repellendus laboriosam tenetur quasi consequuntur, nostrum id numquam esse ex nobis modi! Assumenda, commodi rerum. Nisi saepe fugiat ratione amet sed quibusdam libero tempora natus minus quas odio sunt mollitia ex recusandae iusto atque pariatur consequuntur, corporis nesciunt ducimus, maxime id autem. Eaque aliquid hic quasi velit suscipit magnam harum vero. Dignissimos delectus distinctio quos facilis eveniet vitae ducimus repellat ut ipsam quia? Totam deserunt tempore ducimus provident ratione est minima quisquam voluptates similique! Qui sint, tempora animi eius iusto dicta quidem minima assumenda natus eum.
            </div>
            
            </div>
            
            
            
            
            </div>
    </body>
    </html>
    


</body>
</html>