<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>


    <%- include('common/header.ejs') %>


        <!DOCTYPE html>
        <html lang="en">

        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>Document</title>
        </head>

        <body class="profilebody">

            <div class="container-fluid">
                <div class="row ">
                    <div class="col-3 p-2 text-center">

                        <div class="rounded-3 out p-3">

                            <img src="/static/images/category/profile/<%=name[0].user_profile %>" alt="" width="200"
                                height="200" class="rounded-circle">
                            <div class="row justify-content-center pt-2 text-light pb-5">


                                <div class="col-4 pt-1 text-end"> <i class="fa-solid fa-user text  fs-6 me-4"></i></div>
                                <div class="col-6 text-start fs-4">
                                    <%=name[0].user_name %>
                                </div>
                                <div class="col-4 pt-1 text-end"> <i class="fa-solid fa-envelope text fs-6 me-4"></i>
                                </div>
                                <div class="col-6 text-start fs-6 fst-italic">
                                    <%=name[0].user_email %>
                                </div>
                                <div class="col-4 pt-1 text-end"> <i
                                        class="fa-solid fa-address-card text fs-6 me-4"></i></div>
                                <div class="col-6 text-start fs-6 fst-italic">
                                    <%=name[0].user_role %>
                                </div>
                                <div class="col-4 pt-1 text-end"> <i class="fa-solid fa-phone text fs-6 me-4"></i></div>
                                <div class="col-6 text-start fs-6 fst-italic">
                                    <%=name[0].user_number %>
                                </div>
                                <div class="col-12 mt-3 pb-3">
                                    <div class="btn bcolor w-50">Edit</div>
                                </div>
                                <div class="col-12  pb-3">
                                    <div class="btn bcolor w-50" id="logout">Logout</div>
                                </div>
                            </div>




                        </div>



                    </div>
                    <div class="col-9 p-2 ">
                        <div class="rounded-3 out p-3 h-100">

                            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill"
                                        data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home"
                                        aria-selected="true">Cart</button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill"
                                        data-bs-target="#pills-profile" type="button" role="tab"
                                        aria-controls="pills-profile" aria-selected="false">Activity</button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill"
                                        data-bs-target="#pills-contact" type="button" role="tab"
                                        aria-controls="pills-contact" aria-selected="false">Setting</button>
                                </li>

                            </ul>
                            <div class="tab-content" id="pills-tabContent">
                                <div class="tab-pane fade show active" id="pills-home" role="tabpanel"
                                    aria-labelledby="pills-home-tab" tabindex="0">

                                    <div class="row">
                                        <% if( pc != 'undefined' && pc.length >0 ){ %>
                                            <% for(i=0; i<pc.length; i++){ %>
                                                <div class="col-md-3 lol">
                                                    <div class="h50">
                                                        <a href="/product/<%= pc[i].product_category %>/<%= pc[i].product_id %>"
                                                            class="text-decoration-none text-light">
                                                            <div class="card bg-transparent border border-0">
                                                                <div class="card-img">
                                                                    <img src="/static/images/category/product/<%= pc[i].cart_image %>"
                                                                        alt="" class="img-fluid">
                                                                </div>
                                                                <div class="card-body text-light">
                                                                    <h5><%= pc[i].cart_pname %></h5>
                                                                    <p class="fw-bold m-0"> ₹<%= pc[i].cart_pprice %> <del class="text-body">₹</del></p>
                                                                    <div>Quantity :- <span> <%= pc[i].product_quantity %></span></div>
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </div>
                                                </div>
                                            <% } %>
                                        <% } else { %>
                                            <div class="text-center">
                                                <div class="display-2 text">No Items In Cart</div>
                                            </div>
                                        <% } %>
                                        
                                    </div>




                                </div>
                                <div class="tab-pane fade" id="pills-profile" role="tabpanel"
                                    aria-labelledby="pills-profile-tab" tabindex="0">login</div>
                                <div class="tab-pane fade" id="pills-contact" role="tabpanel"
                                    aria-labelledby="pills-contact-tab" tabindex="0">xyz</div>

                            </div>






                        </div>
                    </div>

                </div>




            </div>
        </body>

        </html>



</body>
<script>
        $(document).ready(function(){
$(document).on('click','#logout',function(){
    $.ajax({
          type: 'GET',
          url: '/logout',
          data:{"lala":'lalal'},
          success: function (response) {
            if(response.msg=='logout'){
console.log(response.msg);
window.location.reload()}
          }})})})

</script>
</html>